{% extends 'index.html' %}
{% load static %}

{% block content %}
    <style>
        body{
            background-color:#222;
        }
    </style>
    <div class="container-fluid">
        <div class="row d-flex flex-wrap doc-row">
            <div class="col-lg-2 col-md-4 pt-4 pl-4" id='doc-sidebar'>
                <h4>General Usage</h4>
                <hr>
                <a href="{% url 'rest_api' %}">What is REST API ?</a>
                <a class='doc-sidebar-picked mt-3' href="{% url 'authentication' %}">Authentication</a>
                <ul>
                    <li>
                        <a class="" href="{% url 'authentication' %}#api-key-header">
                            <span class="fa fa-arrow-right">&nbsp;  Api-key header</span> 
                        </a>
                    </li>
                    <li>
                        <a class="" href="{% url 'authentication' %}#authentication-header">
                            <span class="fa fa-arrow-right">&nbsp;  Authorization header</span> 
                        </a>
                    </li>
                 </ul>
                <a href="{% url 'quickstart' %}">Quickstart</a>
                <ul>
                    <li>
                        <a class="" href="{% url 'quickstart' %}#setup">
                            <span class="fa fa-arrow-right">&nbsp;  Setup</span> 
                        </a>
                    </li>
                    <li>
                        <a class="" href="{% url 'quickstart' %}#setup-var">
                            <span class="fa fa-arrow-right">&nbsp;  Setup variables</span> 
                        </a>
                    </li>
                    <li>
                        <a class="" href="{% url 'quickstart' %}#tracking-actions">
                            <span class="fa fa-arrow-right">&nbsp;  Tracking actions</span> 
                        </a>
                    </li>
                    <li>
                        <a class="" href="{% url 'quickstart' %}#tracking-utils">
                            <span class="fa fa-arrow-right">&nbsp;  Tracking utilities</span> 
                        </a>
                    </li>
                 </ul>
                <a href="{% url 'tracking_service' %}">Services</a>
                <ul>
                    <li>
                        <a class="" href="{% url 'tracking_service' %}">
                            <span class="fa fa-arrow-right">&nbsp;  Tracking Service</span> 
                        </a>
                    </li>
                    <li>
                        <a class="" href="{% url 'geodata_service' %}">
                            <span class="fa fa-arrow-right">&nbsp;  Geodata service</span> 
                        </a>
                    </li>
                </ul>
            </div>
            <div class='col-lg-10 col-md-8 doc-text'>
                <div class='col-lg-7 col-md-12 mx-auto'>
                <h2 class='text-center mt-4'>Authentication</h2>
                <hr>
                <p>Authentication when making requests to the APIs based on the <strong>accountId</strong> value assigned to Your enterprise. This has to be passed in with every request in one of the following two ways:</p>
                <br>
                <h2 id='api-key-header'>Api-key header</h2>
                <p>Pass the <strong>accountId</strong> value (e.g. “95edc424-aaeb-424f-9437-dbdbfe9f7fe5”) in the Api-key HTTP header.</p>
                <p>Example request with curl:</p>
                <div class='code'>
                    <pre>
                        <span>curl -X GET 'https://richy.ddriven.eu/api/address_surroundings?address=KAUPUNKI%2C+HELSINKI' -H 'Api-Key: 95edc424-aaeb-424f-9437-dbdbfe9f7fe5'</span>
                    </pre>
                </div>
                <br>
                <h2 id='authentication-header'>Authorization header</h2>
                <p>Pass the value (e.g. “Api-Token: 95edc424-aaeb-424f-9437-dbdbfe9f7fe5”) in the <strong>Authorization</strong> HTTP header. In case of a service like Postman, you have to set the header name to <strong>Authorization</strong> and value to <strong> Api-Token: &#60;uuid&#62;.</strong> Postman then turns this into the correct header on its own </p>
                <p>Example request with cURL:</p>
                <div class='code'>
                    <pre>
                        <span>curl -X GET 'https://richy.ddriven.eu/api/address_surroundings?address=KAUPUNKI%2C+HELSINKI' -H 'Authorization: Api-Token: 95edc424-aaeb-424f-9437-dbdbfe9f7fe5</span>
                    </pre>
                </div>
                <br>
            </div>
        </div>
    </div>
    </div>
{% endblock %}