{% extends 'index.html' %}
{% load static %}

{% block content %}
    <style>
        body{
            background-color:#222;
        }
    </style>
    <div class="container-fluid">
        <div class="row d-flex flex-wrap doc-row">
            <div class="col-lg-2 col-md-4 pt-4 pl-4" id='doc-sidebar'>
                <h4>General Usage</h4>
                <hr>
                <a href="{% url 'rest_api' %}">What is REST API ?</a>
                <a class='mt-3' href="{% url 'authentication' %}">Authentication</a>
                <ul>
                    <li>
                        <a class="" href="{% url 'authentication' %}#api-key-header">
                            <span class="fa fa-arrow-right">&nbsp;  Api-key header</span> 
                        </a>
                    </li>
                    <li>
                        <a class="" href="{% url 'authentication' %}#authentication-header">
                            <span class="fa fa-arrow-right">&nbsp;  Authorization header</span> 
                        </a>
                    </li>
                 </ul>
                <a href="{% url 'quickstart' %}">Quickstart</a>
                <ul>
                    <li>
                        <a class="" href="{% url 'quickstart' %}#setup">
                            <span class="fa fa-arrow-right">&nbsp;  Setup</span> 
                        </a>
                    </li>
                    <li>
                        <a class="" href="{% url 'quickstart' %}#setup-var">
                            <span class="fa fa-arrow-right">&nbsp;  Setup variables</span> 
                        </a>
                    </li>
                    <li>
                        <a class="" href="{% url 'quickstart' %}#tracking-actions">
                            <span class="fa fa-arrow-right">&nbsp;  Tracking actions</span> 
                        </a>
                    </li>
                    <li>
                        <a class="" href="{% url 'quickstart' %}#tracking-utils">
                            <span class="fa fa-arrow-right">&nbsp;  Tracking utilities</span> 
                        </a>
                    </li>
                 </ul>
                <a href="{% url 'tracking_service' %}">Services</a>
                <ul>
                    <li>
                        <a class="" href="{% url 'tracking_service' %}">
                            <span class="fa fa-arrow-right">&nbsp;  Tracking Service</span> 
                        </a>
                    </li>
                    <li>
                        <a class='doc-sidebar-picked' href="{% url 'geodata_service' %}" class='doc-sidebar-picked'>
                            <span class="fa fa-arrow-right">&nbsp;  Geodata service</span> 
                        </a>
                    </li>
                </ul>
            </div>
            <div class='col-lg-10 col-md-8 doc-text'>
                <div class='col-lg-7 col-md-12 mx-auto'>
               <h2 class='text-center mt-4'>Geodata Service</h2>
               <hr>
                <p>The geodata service offers an endpoint to retrieve useful information about an address and what it is in proximity to.</p>
                <br>
                <h2>Setup</h2>
                <p>Make sure you have a valid <strong>accountId</strong>  for the service.</p><br>
                <h2>Retrieving data</h2>
                <p>The address service results are available at</p>
                <div class="code">
                    <pre>
                        <span>
https://richy.ddriven.eu/api/address_surroundings?address={address}</span>
                    </pre>
                </div>
                <ul>
                    <li><strong>address</strong> <span style='color:red'>*</span>  – string value (URL encoded) of the address You need information for.</li>
                    <li><strong>r1, r2, r3 </strong> <em>[optional]</em>  – custom integer radiuses (in meters) for which the data will be returned. Pass in either all three or none of them. Min value = 1, max value = 10 000.</li>
                </ul>
                <p><span style='color:red'>*</span> - required</p>
                <br>
                <h2>Example query</h2>
                <p>Example cURL query:</p>
                <div class="code">
                    <pre><span>
url -X GET 'https://richy.ddriven.eu/api/address_surroundings?
address=KUMPULANTIE%203,%20FI-00520%20HELSINKI' -H 'Authorization: Api-Token: 322a7635-aec4-4307-8c54-73cb7c043124'</span>
                    </pre>
                </div>
                <br>
                <h2>Responses</h2>
                <br>
                <h2>200 Success</h2>
                <p>Returned if the user has been successfully authenticated and the geocoding service returns a response.</p>
                <p>The data contains aggregated counts of each type of object that are within 10km range from the geographic location of the input address. All objects are separated into three categories:</p>
                <ol>
                    <li>objects that are within 500 m of the object</li>
                    <li>objects that are within 500 m to 2 km of the object</li>
                    <li>objects that are within 2 km to 10 km of the object</li>
                </ol>
                <p><strong>Note:</strong> these radiuses will be overriden by custom ones if any were passed in with URL parameters</p>
                <p>Example response:</p>
                <div class="code">
                    <pre><span>
{
"address": "Kumpulantie 3, FI-00520 Helsinki, Finland, Finland",
"accuracy_level": "HIGH_ACCURACY"
"data": {
    "10000m": {
        "artwork": 345,
        "taxi": 85,
        ...
    },
    "2000m": {
        "cinema": 3,
        "tower": 3,
        ...
    },
    "500m": {
        "beverages": 1,
        "courthouse": 1,
        ...
    }
}
}</span>
                    </pre>
                </div>
                <p>The data for each radius will be alphabetically sorted.</p>
                <br>
                <h2>403 Forbidden</h2>
                <p>Returned if user has not authenticated themselves via the request headers or the query parameters (see Authentication for details). Data will have the following message: <strong> Authentication credentials were not provided.</strong></p>
                <br>
                <h2>400 Bad Request</h2>
                <p>Returned if input data is invalid:</p>
                <ul>
                    <li><strong>Please include address in query parameters – address</strong> was not found in the query parameters</li>
                    <li><strong> Please either provide all three radiuses [`r1`, `r2`, `r3`] or no radiuses</strong> in the parameters – only one or two custom radiuses were passed in (the service expects either all three or none)</li>
                </ul>
                <br>
                <h2>502 Bad Gateway</h2>
                <p>Returned if:</p>
                <ul>
                    <li>the geocoding service returns an empty response; if this happens, it is recommended that you try the request again.</li>
                    <li>the geocoding service raises an error.</li>
                </ul>
                <p class='mb-5'>Details are in the response message.</p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}