{% extends 'index.html' %}
{% load static %}
{% block content %}

    <style>
        body{
            background-color:#222;
        }
    </style>
    <div class="container-fluid">
        <div class="row d-flex flex-wrap doc-row">
            <div class="col-lg-2 col-md-4 pt-4 pl-4"  id='doc-sidebar'>
                <h4>General Usage</h4>
                <hr>
                <a href="{% url 'rest_api' %}">What is REST API ?</a>
                <a class='mt-3' href="{% url 'authentication' %}">Authentication</a>
                <ul>
                    <li>
                        <a class="" href="{% url 'authentication' %}#api-key-header">
                            <span class="fa fa-arrow-right">&nbsp;  Api-key header</span> 
                        </a>
                    </li>
                    <li>
                        <a class="" href="{% url 'authentication' %}#authentication-header">
                            <span class="fa fa-arrow-right">&nbsp;  Authorization header</span> 
                        </a>
                    </li>
                 </ul>
                <a class='doc-sidebar-picked' href="{% url 'quickstart' %}">Quickstart</a class='doc-sidebar-picked'>
                <ul>
                    <li>
                        <a class="" href="{% url 'quickstart' %}#setup">
                            <span class="fa fa-arrow-right">&nbsp;  Setup</span> 
                        </a>
                    </li>
                    <li>
                        <a class="" href="{% url 'quickstart' %}#setup-var">
                            <span class="fa fa-arrow-right">&nbsp;  Setup variables</span> 
                        </a>
                    </li>
                    <li>
                        <a class="" href="{% url 'quickstart' %}#tracking-actions">
                            <span class="fa fa-arrow-right">&nbsp;  Tracking actions</span> 
                        </a>
                    </li>
                    <li>
                        <a class="" href="{% url 'quickstart' %}#tracking-utils">
                            <span class="fa fa-arrow-right">&nbsp;  Tracking utilities</span> 
                        </a>
                    </li>
                 </ul>
                <a href="{% url 'tracking_service' %}">Services</a>
                <ul>
                    <li>
                        <a class="" href="{% url 'tracking_service' %}">
                            <span class="fa fa-arrow-right">&nbsp;  Tracking Service</span> 
                        </a>
                    </li>
                    <li>
                        <a class="" href="{% url 'geodata_service' %}">
                            <span class="fa fa-arrow-right">&nbsp;  Geodata service</span> 
                        </a>
                    </li>
                </ul>
            </div>
            <div class='col-lg-10 col-md-8 doc-text'>
                <div class='col-lg-7 col-md-12 mx-auto'>
               <h2 class='text-center mt-4'>Quickstart</h2>
               <hr>
               <br>
                <h2 id='setup'>Setup</h2>
               <p>Include the following in the <strong>head</strong> element of the page you wish to monitor:</p>
               <div class='code'>
                    <pre>
                        <span>
&#60;script
    type="text/javascript"
    src="https://richy.ddriven.eu/assets/tracking.js">
&#60script></span>
                    </pre>
                </div>
               <p>In the bottom of the page (before the closing <strong>body</strong>  tag), include the following:</p>
               <div class='code'>
                <pre>
                    <span>
&#60;script>
    var config = {
        'accountId': '7dbbabdb-4a52-45e8-8bfe-2b1f190c66bb',
        'sessionId': 'a5cecd90-9ad7-4e1b-82a9-f7245703f185',
        'userId': 'some-user-123',
        'pageTitle': 'Application Form 1',
        'fields': {
            'LoginFormField': 'login-form-field',
        },
    };
    da('config', config);
&#60script></span>
                </pre>
            </div>
               <p>Both of these are needed for the tracking to work. Replace the variables according to instructions below.</p>
               <br>
               <h2 id='setup-var'>Setup variables</h2>
               <ul>
                   <li><strong>accountId</strong>  <span style='color:red'>*</span> – UUID-type value that Your organization has been assigned by Data Driven</li>
                   <li><strong>sessionId</strong>  <span style='color:red'>*</span> – UUID-type value that uniquely identifies the user’s current session. This should be held in the website’s session.</li>
                   <li><strong>userId</strong> <em>[optional]</em>  – ID of the user that is currently logged in for the session (string)</li>
                   <li><strong>pageTitle</strong><em>[optional]</em> – Title of the page (string); if not passed in, value of the title element in head will be used (if present)</li>
                   <li><strong>fields</strong> <em>[optional]</em>  – Dictionary of the HTML field element names that should be tracked. The <strong>key</strong> should be a human-readable name of the form field, and the <strong>value</strong>  should be the value of the name attribute of the form element. If passed in, then user’s activity will be tracked only on these elements. If this variable is not passed in, then the form fields (more specifically, <strong> input, select</strong>, and <strong>textarea</strong> HTML elements) are discovered automatically. NB! Using this option is not recommended for SPA-type webpages as the value of fields is not refreshed during rebinding.</li>
               </ul>
               <p><span style='color:red'>*</span> - required</p>
               <br>
               <h2>Session ID</h2>
               <p>The session ID variable (<strong>sessionId</strong>) needs to correspond to how you are tracking user through a process. It needs to be reset when the end goal of the processes is achieved (some form submitted, some action performed). Different users cannot have the same session ID - then the data will be meaningless as it does not describe the behaviour of a single user.</p>
               <p>The rest of the uniqueness constraints depend on Your specific needs. For example:</p>
                <ul>
                    <li>If the data You need should be grouped per page load, then a new <strong>sessionId</strong> needs to be set every time a page is refreshed.</li>
                    <li>If You want the data to be aggregated per user per form submit, then a new <strong>sessionId</strong> needs to be set only when the user clicks “Submit”, but kept the same throughout page refreshes and other activities.</li>
                </ul>
                <br>
                <h2 id='tracking-actions'>Tracking actions</h2>   
                <p>To track when a user has done a certain action, the ‘action’ parameter can be passed on to the da instance:</p>            
                <div class="code">
                    <pre><span>
da('action','something_happened')</span></pre>
                </div>
                <p>First parameter – must be the string ‘action’ Second parameter – the name of the action</p>
                <p>In order to track when a user has clicked on terms and conditions, add the following <strong>onClick</strong> method to the a tags that pop up the terms and conditions information:</p>
                <div class="code">
                    <pre><span>
onclick="da('action','clicked_on_terms');"</span></pre>
                </div>
                <p>The action name must be ‘clicked_on_terms’ for this to be counted in the behavioural data results (see below)</p>
                <br>
                <h2 id='tracking-utils'>Tracking Utilities</h2>
                <p>In some cases (when fields are added to DOM after the script has been initialized) you might need to re-initialize tracking formfields on the page. In that case you have special command ‘rebind’ which you can use. Example:</p>
                <div class="code">
                    <pre><span>
da('rebind');</span></pre>
                </div>
                <p>In case of single page applications, you might be manipulating history in app too and in those cases you need to use another command to make sure page loads are properly tracked. In those cases use this before triggering history change:</p>
                <div class="code">
                    <pre><span>
da('pageLeave');</span></pre>
                </div>
                <p class='mb-5'>Unless your website is single page application or you are using javascript to manipulate DOM and history you should not need to use those additional tracking utilities and both field events and navigating the site should be tracked automatically.</p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
