{% extends 'index.html' %}
{% load static %}

{% block content %}
    <style>
        body{
            background-color:#222;
        }
    </style>
    <div class="container-fluid">
        <div class="row d-flex flex-wrap doc-row">
            <div class="col-lg-2 col-md-4 pt-4 pl-4" id='doc-sidebar'>
                <h4>General Usage</h4>
                <hr>
                <a href="{% url 'rest_api' %}" class='doc-sidebar-picked'>What is REST API ?</a>
                <a class='mt-3' href="{% url 'authentication' %}">Authentication</a>
                <ul>
                    <li>
                        <a class="" href="{% url 'authentication' %}#api-key-header">
                            <span class="fa fa-arrow-right">&nbsp;  Api-key header</span> 
                        </a>
                    </li>
                    <li>
                        <a class="" href="{% url 'authentication' %}#authentication-header">
                            <span class="fa fa-arrow-right">&nbsp;  Authorization header</span> 
                        </a>
                    </li>
                 </ul>
                <a href="{% url 'quickstart' %}">Quickstart</a>
                <ul>
                    <li>
                        <a class="" href="{% url 'quickstart' %}#setup">
                            <span class="fa fa-arrow-right">&nbsp;  Setup</span> 
                        </a>
                    </li>
                    <li>
                        <a class="" href="{% url 'quickstart' %}#setup-var">
                            <span class="fa fa-arrow-right">&nbsp;  Setup variables</span> 
                        </a>
                    </li>
                    <li>
                        <a class="" href="{% url 'quickstart' %}#tracking-actions">
                            <span class="fa fa-arrow-right">&nbsp;  Tracking actions</span> 
                        </a>
                    </li>
                    <li>
                        <a class="" href="{% url 'quickstart' %}#tracking-utils">
                            <span class="fa fa-arrow-right">&nbsp;  Tracking utilities</span> 
                        </a>
                    </li>
                 </ul>
                <a href="{% url 'tracking_service' %}">Services</a>
                <ul>
                    <li>
                        <a class="" href="{% url 'tracking_service' %}">
                            <span class="fa fa-arrow-right">&nbsp;  Tracking Service</span> 
                        </a>
                    </li>
                    <li>
                        <a class="" href="{% url 'geodata_service' %}">
                            <span class="fa fa-arrow-right">&nbsp;  Geodata service</span> 
                        </a>
                    </li>
                </ul>
            </div>
            <div class='col-lg-10 col-md-8 doc-text'>
                <div class='col-lg-7 col-md-12 mx-auto'>
               <h2 class='text-center mt-4'>What’s a REST API, anyway?</h2>
               <hr>
               <p>An API is an application programming interface - in short, it’s a set of rules that lets programs talk to each other, exposing data and functionality across the internet in a consistent format.</p>
               <br>
               <p>REST stands for Representational State Transfer. This is an architectural pattern that describes how distributed systems can expose a consistent interface. When people use the term ‘REST API,’ they are generally referring to an API accessed via HTTP protocol at a predefined set of URLs.</p>
               <br>
               <p>These URLs represent various resources - any information or content accessed at that location, which can be returned as JSON, HTML, audio files, or images. Often, resources have one or more methods that can be performed on them over HTTP, like GET, POST, PUT and DELETE.</p>
               <br>
            </div>
        </div>
    </div>
    </div>
{% endblock %}