{% extends 'index.html' %}
{% load static %}

{% block content %}
    <style>
        body{
            background-color:#222;
        }
    </style>
    <div class="container-fluid">
        <div class="row d-flex flex-wrap doc-row">
            <div class="col-lg-2 col-md-4 pt-4 pl-4" id='doc-sidebar'>
                <h4>General Usage</h4>
                <hr>
                <a href="{% url 'rest_api' %}">What is REST API ?</a>
                <a class='mt-3' href="{% url 'authentication' %}">Authentication</a>
                <ul>
                    <li>
                        <a class="" href="{% url 'authentication' %}#api-key-header">
                            <span class="fa fa-arrow-right">&nbsp;  Api-key header</span> 
                        </a>
                    </li>
                    <li>
                        <a class="" href="{% url 'authentication' %}#authentication-header">
                            <span class="fa fa-arrow-right">&nbsp;  Authorization header</span> 
                        </a>
                    </li>
                 </ul>
                <a href="{% url 'quickstart' %}">Quickstart</a>
                <ul>
                    <li>
                        <a class="" href="{% url 'quickstart' %}#setup">
                            <span class="fa fa-arrow-right">&nbsp;  Setup</span> 
                        </a>
                    </li>
                    <li>
                        <a class="" href="{% url 'quickstart' %}#setup-var">
                            <span class="fa fa-arrow-right">&nbsp;  Setup variables</span> 
                        </a>
                    </li>
                    <li>
                        <a class="" href="{% url 'quickstart' %}#tracking-actions">
                            <span class="fa fa-arrow-right">&nbsp;  Tracking actions</span> 
                        </a>
                    </li>
                    <li>
                        <a class="" href="{% url 'quickstart' %}#tracking-utils">
                            <span class="fa fa-arrow-right">&nbsp;  Tracking utilities</span> 
                        </a>
                    </li>
                 </ul>
                <a href="{% url 'tracking_service' %}">Services</a>
                <ul>
                    <li>
                        <a class='doc-sidebar-picked' href="{% url 'tracking_service' %}">
                            <span class="fa fa-arrow-right">&nbsp;  Tracking Service</span> 
                        </a>
                    </li>
                    <li>
                        <a class="" href="{% url 'geodata_service' %}">
                            <span class="fa fa-arrow-right">&nbsp;  Geodata service</span> 
                        </a>
                    </li>
                </ul>
            </div>
            <div class='col-lg-10 col-md-8 doc-text'>
                <div class='col-lg-7 col-md-12 mx-auto'>
                    <h2 class='text-center mt-4'>Tracking Service</h2>
                    <hr>
                    <br>
                    <h2>API endpoint</h2>
                    <p>Some different aggregated tracking results are available at</p>
                    <div class="code"><pre><span>
https://richy.ddriven.eu/api/generic-data?accountId={accountId}&sessionId={sessionId}</span></pre></div>
                    <ul>
                        <li><strong>accountId</strong><span style='color:red'></span>*</span> – the account ID assigned to Your organization. If you pass the account ID in another way (see Authentication), then you do not need to put it into the URL parameters.</li>
                        <li><strong>sessionId</strong><span style='color:red'></span>*</span> – the session ID (see above for details).</li>
                        <li><strong>city</strong> <em>[optional]</em> – string representing a specific city, in english; is used in the <strong>location</strong>  calculations.</li>
                        <li><strong>country</strong> <em>[optional]</em>  – ISO 3166-1 alpha-2 country code string (e.g. ‘GB’ for Great Britain) representing a specific country; is used in the <strong>location</strong>  calculations.</li>
                        <li><strong>address</strong> <em>[optional]</em>  – an address string that is used in the <strong>location</strong>  calculations. This should contain all address info (street name, house number, postal code) <strong>except city and country</strong>, which should be in their respective parameters. If this is not passed in, but both city and country are, then the combination of those is used as the address.</li>
                        <li><strong>email</strong> <em>[optional]</em>  – <strong>email</strong> string used in the email checks.</li>
                        <li><strong>phoneNumber</strong><em>[optional]</em> – phone number to be used for all phone number related checks. Must have the country code prefix, e.g. ‘+44 1632 960070’</li>
                    </ul>
                    <p><span style='color: red'>*</span> - required</p>
                    <p><strong>Note</strong>: If You pass in address, then it is required to also pass in both city and country parameters for accurate results.</p>
                    <br>
                    <h2>Example query</h2>
                    <p>Example cURL query:</p>
                    <div class="code">
                        <pre><span>
curl -X GET 'https://richy.ddriven.eu/api/generic-data?
sessionId=7e4379b9-8482-47f5-b0be-b4f9833f84b4&city=London&country=LV&
address=20+Great+Guildford+St%2C+London+SE1+0FD%2C+UK&email=loan.applicant%40gmail.com&phoneNumber=%2B441632960070' -H 'Authorization: Api-Token: 322a7635-aec4-4307-8c54-73cb7c043124'</span>
                        </pre>
                    </div>
                    <h2>Responses</h2>
                    <br>
                    <h3>200 Success</h3>
                    <p>Returned if the user has been successfully authenticated and the sessionId is valid.</p>
                    <p>Example response:</p>
                    <div class="code">
                        <pre><span>
{
    "request_id": "f98b63b3-2dac-49c4-b47d-386fe7cd9cee",
    "_meta": null,
    "deviceSeenHomeCount": 2,
    "deviceSeenHomeData": [['2019-09-13T08:34:29.187304Z', '1.1.1.1', 30]],
    "deviceSeenAwayCount": null,
    "deviceSeenAwayData": null,
    "deviceType": "desktop",
    "devicePrice": null,
    "deviceEmailAssociation": ['some@email.com'],
    "devicePhoneAssociation": ['+55524236225'],
    "locationGeocodingAccuracy": "EXACT_MATCH",
    "locationAverageIncome": null,
    "locationRentalPrice": null,
    "locationRealEstatePrice": null,
    "locationClassification": null,
    "locationOtherCustomers": 1,
    "fraudTooFastSession": "true",
    "fraudIpChange": "false",
    "fraudBrowserTimeZone": "true",
    "fraudVPN": null,
    "fraudUncommonLanguage": "true",
    "fraudDistance": 4.5,
    "fraudCountryMismatch": "true",
    "behaviorTermsVisited": "true",
    "behaviorSessionDuration": 90,
    "behaviorTypingSpeed": 45,
    "behaviorCopyPaste": 2,
    "behaviorFieldChanges": 4,
    "emailDataCompromised": null,
    "emailDataEmailExists": "true",
    "phoneNumberIsActive": "true",
    "phoneNumberCarrierName": "Telekom AS",
    "phoneNumberLineType": "landline",
    "phoneNumberCallerName": "Maggie Smith",
    "phoneNumberCallerType": "BUSINESS",
}</span></pre>
                    </div>
                    <p>Response fields:</p>
                    <table class="table table-bordered table-responsive">
                        <thead valign="bottom">
                            <th class="head">Field name</th>
                            <th class="head">Example value</th>
                            <th class="head">Description</th>
                        </thead>
                        <tbody valign="top">
                        <tr class="row-even">
                        <td>request_id</td>
                        <td>f98b63b3-2dac-49c4-b47d-386fe7cd9cee</td>
                        <td>Unique UUID of each request</td>
                        </tr>
                        <tr class="row-odd"><td>_meta</td>
                        <td><code class="docutils literal notranslate"><span class="pre">{}</span></code></td>
                        <td>All metadata the service has collected about this session; see <a class="reference internal" href="#metadata"><span class="std std-ref">Metadata</span></a> for details</td>
                        </tr>
                        <tr class="row-even"><td>deviceSeenHomeCount</td>
                        <td><code class="docutils literal notranslate"><span class="pre">2</span></code></td>
                        <td>Number of times device has been seen on client website</td>
                        </tr>
                        <tr class="row-odd"><td>deviceSeenHomeData</td>
                        <td><code class="docutils literal notranslate"><span class="pre">[['2019-09-13T08:34:29.187304Z',</span> <span class="pre">'1.1.1.1',</span> <span class="pre">30]]</span></code></td>
                        <td>List of data about the last 100 visits to the client’s page: (&lt;start of visit in UTC&gt;, &lt;IP address used during visit&gt;, &lt;duration of visit in seconds&gt;). If any info is missing, nothing is returned</td>
                        </tr>
                        <tr class="row-even"><td>deviceSeenAwayCount</td>
                        <td><code class="docutils literal notranslate"><span class="pre">1</span></code></td>
                        <td>Number of times device has been seen on other websites</td>
                        </tr>
                        <tr class="row-odd"><td>deviceSeenAwayData</td>
                        <td><code class="docutils literal notranslate"><span class="pre">[['2018-10-01T14:55:12.318029Z',</span> <span class="pre">'2.2.2.2',</span> <span class="pre">57]]</span></code></td>
                        <td>List of data about the last 100 visits to the pages of other DataDriven’s customers: (&lt;start of visit in UTC&gt;, &lt;IP address used during visit&gt;, &lt;duration of visit in seconds&gt;). If any info is missing, nothing is returned</td>
                        </tr>
                        <tr class="row-even"><td>deviceType</td>
                        <td><code class="docutils literal notranslate"><span class="pre">mobile</span></code></td>
                        <td>Type of the device (desktop/mobile/tablet/touch_device)</td>
                        </tr>
                        <tr class="row-odd"><td>devicePrice <a class="footnote-reference" href="#f1" id="id2">[1]</a></td>
                        <td><code class="docutils literal notranslate"><span class="pre">null</span></code></td>
                        <td>Average price of the device</td>
                        </tr>
                        <tr class="row-even"><td>deviceEmailAssociation</td>
                        <td><code class="docutils literal notranslate"><span class="pre">['some@email.com']</span></code></td>
                        <td>List of known email address associated with device, max 100 (based on past requests to this endpoint)</td>
                        </tr>
                        <tr class="row-odd"><td>devicePhoneAssociation</td>
                        <td><code class="docutils literal notranslate"><span class="pre">['+55524236225']</span></code></td>
                        <td>List of known phone numbers associated with device, max 100 (based on past requests to this endpoint)</td>
                        </tr>
                        <tr class="row-even"><td>locationGeocodingAccuracy</td>
                        <td><code class="docutils literal notranslate"><span class="pre">"EXACT_MATCH"</span></code></td>
                        <td>Geocoding accuracy (EXACT_MATCH / HIGH_ACCURACY / MEDIUM_ACCURACY / UNKNOWN_ACCURACY)</td>
                        </tr>
                        <tr class="row-odd"><td>locationAverageIncome <a class="footnote-reference" href="#f1" id="id3">[1]</a></td>
                        <td><code class="docutils literal notranslate"><span class="pre">null</span></code></td>
                        <td>Average monthly income in the location of the user</td>
                        </tr>
                        <tr class="row-even"><td>locationRentalPrice <a class="footnote-reference" href="#f1" id="id4">[1]</a></td>
                        <td><code class="docutils literal notranslate"><span class="pre">null</span></code></td>
                        <td>Average rent price for location (EUR per square meter)</td>
                        </tr>
                        <tr class="row-odd"><td>locationRealEstatePrice <a class="footnote-reference" href="#f1" id="id5">[1]</a></td>
                        <td><code class="docutils literal notranslate"><span class="pre">null</span></code></td>
                        <td>Average price of real estate for location (EUR per square meter)</td>
                        </tr>
                        <tr class="row-even"><td>locationClassification <a class="footnote-reference" href="#f1" id="id6">[1]</a></td>
                        <td><code class="docutils literal notranslate"><span class="pre">null</span></code></td>
                        <td>Classification of the location, see <a class="reference internal" href="#classification"><span class="std std-ref">Classification classes</span></a> for details</td>
                        </tr>
                        <tr class="row-odd"><td>locationOtherCustomers</td>
                        <td><code class="docutils literal notranslate"><span class="pre">1</span></code></td>
                        <td>Number of other devices in 1km radius we have spotted</td>
                        </tr>
                        <tr class="row-even"><td>fraudTooFastSession</td>
                        <td><code class="docutils literal notranslate"><span class="pre">true</span></code></td>
                        <td>Returns <code class="docutils literal notranslate"><span class="pre">true</span></code> if total session time is less than 10 seconds (true/false/null)</td>
                        </tr>
                        <tr class="row-odd"><td>fraudIpChange</td>
                        <td><code class="docutils literal notranslate"><span class="pre">false</span></code></td>
                        <td>Returns <code class="docutils literal notranslate"><span class="pre">true</span></code> if the user’s IP address changed during the session (true/false/null)</td>
                        </tr>
                        <tr class="row-even"><td>fraudBrowserTimeZone</td>
                        <td><code class="docutils literal notranslate"><span class="pre">true</span></code></td>
                        <td>Returns <code class="docutils literal notranslate"><span class="pre">true</span></code> if the timezone of the borrower’s device is not from the same country as the webpage’s location (true/false/null)</td>
                        </tr>
                        <tr class="row-odd"><td>fraudVPN  <a class="footnote-reference" href="#f1" id="id7">[1]</a></td>
                        <td><code class="docutils literal notranslate"><span class="pre">null</span></code></td>
                        <td>Returns <code class="docutils literal notranslate"><span class="pre">true</span></code> if the user uses a VPN or proxy (true/false/null)</td>
                        </tr>
                        <tr class="row-even"><td>fraudUncommonLanguage</td>
                        <td><code class="docutils literal notranslate"><span class="pre">true</span></code></td>
                        <td>Returns <code class="docutils literal notranslate"><span class="pre">true</span></code> if borrowers language is not common for the webpage (webpage language is configured by the client) (true/false/null)</td>
                        </tr>
                        <tr class="row-odd"><td>fraudDistance</td>
                        <td><code class="docutils literal notranslate"><span class="pre">4.5</span></code></td>
                        <td>Distance of geocoded input address from the location of the IP address (in km)</td>
                        </tr>
                        <tr class="row-even"><td>fraudCountryMismatch</td>
                        <td><code class="docutils literal notranslate"><span class="pre">true</span></code></td>
                        <td>Returns <code class="docutils literal notranslate"><span class="pre">true</span></code> if IP address and geocoded address country do not match</td>
                        </tr>
                        <tr class="row-odd"><td>behaviorTermsVisited</td>
                        <td><code class="docutils literal notranslate"><span class="pre">true</span></code></td>
                        <td>Returns <code class="docutils literal notranslate"><span class="pre">true</span></code> if applicant has opened terms and conditions (depends on if Actions are configured properly, see <a class="reference internal" href="#tracking-actions"><span class="std std-ref">Tracking actions</span></a> ) (true/false)</td>
                        </tr>
                        <tr class="row-even"><td>behaviorSessionDuration</td>
                        <td><code class="docutils literal notranslate"><span class="pre">90</span></code></td>
                        <td>Total time applicant spent on the site in seconds during session (start time is the time of first page visit, end time is the time for the first request to this endpoint)</td>
                        </tr>
                        <tr class="row-odd"><td>behaviorTypingSpeed</td>
                        <td><code class="docutils literal notranslate"><span class="pre">45</span></code></td>
                        <td>Applicant’s typing speed (key strokes per minute) during session</td>
                        </tr>
                        <tr class="row-even"><td>behaviorCopyPaste</td>
                        <td><code class="docutils literal notranslate"><span class="pre">2</span></code></td>
                        <td>Number of fields where paste was used during the session</td>
                        </tr>
                        <tr class="row-odd"><td>behaviorFieldChanges</td>
                        <td><code class="docutils literal notranslate"><span class="pre">4</span></code></td>
                        <td>Number of fields edited after initial input during session</td>
                        </tr>
                        <tr class="row-even"><td>emailDataCompromised <a class="footnote-reference" href="#f1" id="id8">[1]</a></td>
                        <td><code class="docutils literal notranslate"><span class="pre">null</span></code></td>
                        <td>Whether the input email has been compromised in any data breaches (true/false/null)</td>
                        </tr>
                        <tr class="row-odd"><td>emailDataEmailExists</td>
                        <td><code class="docutils literal notranslate"><span class="pre">true</span></code></td>
                        <td>Whether mail server confirms email is valid (true/false/null)</td>
                        </tr>
                        <tr class="row-even"><td>phoneNumberIsActive <a class="footnote-reference" href="#f3" id="id9">[3]</a></td>
                        <td><code class="docutils literal notranslate"><span class="pre">true</span></code></td>
                        <td>Phone number is listed as active (true/false)</td>
                        </tr>
                        <tr class="row-odd"><td>phoneNumberCarrierName</td>
                        <td><code class="docutils literal notranslate"><span class="pre">Telekom</span> <span class="pre">AS</span></code></td>
                        <td>The name of the company that carries this phone number</td>
                        </tr>
                        <tr class="row-even"><td>phoneNumberLineType</td>
                        <td><code class="docutils literal notranslate"><span class="pre">landline</span></code></td>
                        <td>The phone number type (landline/mobile/voip)</td>
                        </tr>
                        <tr class="row-odd"><td>phoneNumberCallerName</td>
                        <td><code class="docutils literal notranslate"><span class="pre">Maggie</span> <span class="pre">Smith</span></code></td>
                        <td>Name of the owner of the phone number</td>
                        </tr>
                        <tr class="row-even"><td>phoneNumberCallerType</td>
                        <td><code class="docutils literal notranslate"><span class="pre">CONSUMER</span></code></td>
                        <td>String indicating whether this caller is a business or consumer (business/consumer); only works for US phone numbers.</td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <h2>Metadata</h2>
                    <p>Metadata looks like this:</p>
                    <div class="code">
                        <pre><span>
"_meta": {
    "field_behaviours": [
        {
            "field_name": "name",
            "field_id": "name_field",
            "page_id": "login-page",
            "page_title": "Login",
            "user_id": "123",
            "focus_started_at": "2019-09-16T08:21:24.917085Z",
            "focus_ended_at": "2019-09-16T08:21:24.917106Z",
            "key_count": 0,
            "del_count": 32,
            "backspace_count": 1,
            "dwell_time_avg": null,
            "dwell_time_sd": null,
            "flight_time_count": 3,
            "flight_time_avg": null,
            "flight_time_sd": null,
            "digraph_count": 7,
            "digraph_avg": null,
            "digraph_sd": null,
            "trigraph_count": 8,
            "trigraph_avg": null,
            "trigraph_sd": null,
            "pause_count": 4,
            "pause_avg": null,
            "pause_sd": null,
            "paste_count": 6,
            "was_changed": true
        }
    ],
    "actions": [
        {
            "action_id": "clicked_on_terms",
            "started_at": "2019-09-16T08:20:14.122698Z",
            "page_id": "login-page",
            "page_title": "Login",
            "user_id": "123"
        }
    ],
    "fingerprints": [
        {
            "hash": "vOAWThVFpXYbzjvOtwseqsrWrIyJRbxcyrkEZHNisJATgrJmHdijwqmSZEWEumKJd",
            "components": {
                "audio": 153.5435345345,
                "fonts": " Arial,Courier,Courier New,Helvetica,MS Gothic,MS PGothic,Times,Times New Roman",
                "webgl": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA",
                "canvas": "canvas winding:yes,canvas fp:data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAB9AAAADICAYAAACwGno",
                "adBlock": false,
                "plugins": "Chrome PDF Plugin,Portable Document Format,application/x-google-chrome-pdf,pdf,Chrome PDF Viewer",
                "cpuClass": "not available",
                "language": "en-GB",
                "platform": "Linux x86_64",
                "timezone": "Europe/London",
                "hasLiedOs": true,
                "indexedDb": true,
                "userAgent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.35 Safari/53",
                "colorDepth": 16,
                "doNotTrack": false,
                "fontsFlash": false,
                "pixelRatio": "43:54",
                "addBehavior": false,
                "deviceMemory": 4,
                "localStorage": false,
                "openDatabase": false,
                "touchSupport": "0,false,false",
                "hasLiedBrowser": true,
                "sessionStorage": false,
                "timezoneOffset": "+240",
                "enumerateDevices": true,
                "hasLiedLanguages": false,
                "screenResolution": false,
                "hasLiedResolution": true,
                "hardwareConcurrency": 16,
                "webglVendorAndRenderer": "X.Org~Radeon RX 550 Series (POLARIS12 / DRM 3.23.0 / 4.15.0-43-generic, LLVM 6.0.0)",
                "availableScreenResolution": [1053, 966]
            }
        }
    ],
    "page_visits": [
        {
            "arrived_at": "2019-09-16T08:22:00.950406Z",
            "left_at": "2019-09-16T08:22:00.950447Z",
            "page_id": "login-page",
            "page_title": "Login",
            "user_id": "123"
        },
        {
            "arrived_at": "2019-09-16T08:22:00.936041Z",
            "left_at": "2019-09-16T08:22:00.936063Z",
            "page_id": "login-page",
            "page_title": "Login",
            "user_id": "123"
        }
    ],
    "ip_addresses": ["1.2.2.45"],
    "end_time": "2019-09-16T08:23:28.035390Z"
}</span></pre>
                    </div>
                    <p>Metadata field definitions:</p>
                    <table border="1" class="docutils">
                        <colgroup>
                        <col width="23%">
                        <col width="77%">
                        </colgroup>
                        <thead valign="bottom">
                        <tr class="row-odd"><th class="head">Field name</th>
                        <th class="head">Description</th>
                        </tr>
                        </thead>
                        <tbody valign="top">
                        <tr class="row-even"><td>field_behaviours</td>
                        <td>Data about how a user has been behaving in a single form field</td>
                        </tr>
                        <tr class="row-odd"><td>actions</td>
                        <td>Action data that we have received; must be configured to record any data - see Tracking actions</td>
                        </tr>
                        <tr class="row-even"><td>fingerprints</td>
                        <td>Fingerprint data we get about the user; see fingerprintjs2 for details</td>
                        </tr>
                        <tr class="row-odd"><td>page_visits</td>
                        <td>Page visits gets recorded every time the user loads a page during a session</td>
                        </tr>
                        <tr class="row-even"><td>ip_addresses</td>
                        <td>List of IP addresses used during the session</td>
                        </tr>
                        <tr class="row-odd"><td>end_time</td>
                        <td>Session end time (i.e. the time when the first request to /api/generic-data comes in)</td>
                        </tr>
                        </tbody>
                        </table>
                        <br>
                        <h2>Classification classes</h2>
                        <br>
                        <p> - </p>
                        <br>
                        <h2>403 Forbidden</h2>
                        <p class='mb-5'>Returned if user has not authenticated themselves via the request headers or the query parameters (see Authentication for details). Data will have the following message: <strong>Authentication credentials were not provided.</strong></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}