{% load crispy_forms_tags widget_tweaks %}
{% load crispy_forms_field %}
{% load form_tags %}
{% if edit_form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    {% for error in edit_form.non_field_errors %}
    <p{% if forloop.last %} class="mb-0 red"{% endif %}>{{ error }}</p>
    {% endfor %}
</div>
{% endif %}
<div class="padding-top-none modal-body ">
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data" class="form_disabled js-edit-profile" id="formEditProfile">
            {% csrf_token %}
            <div class="row">
                <div class="text-center background-image">
                    {% if request.user.avatar %}
                        <img src="{{MEDIA_URL}}/{{request.user.avatar}}" class="img-circle border"  name="suka_avatar" height="200px" width="200px"  alt="avatar"> 
                    {% else %}
                        <img src="http://placehold.it/60/30a5ff/fff" class="img-circle"  name="suka_avatar"  height="200px" width="200px" alt="">
                    {% endif %}
                    <div class="pd-t-3 text-center">
                        <label for="id_avatar" class="btn btn-default" id="disable" >
                        <i class="fa fa-pencil" aria-hidden="true" style="font-size: 14px"></i>
                        {{ edit_form.avatar }}
                        </label>
                    </div>
                </div>
            </div>
            {% for field in edit_form %} 
                {{field.label_tag}}
                <div class="{% if field.errors %} has-error {% endif %} pd-t-3">
                    {% render_field field|add_class:'form-control my-input' class=field|input_class  %}
                </div>
                {% for error in field.errors %}
                    <div class="invalid-feedback help-block {% if field.errors %} has-error {% endif %}">
                        <span class="text-danger">{{ error }}</span>
                        {% if field.help_text %}
                            <small class="form-text text-muted">
                                {{ field.help_text|safe }}
                            </small>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %} 
            <div class="text-right" style="margin-top:30px">
                <hr/>
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>