{% load crispy_forms_tags widget_tweaks %}
{% load crispy_forms_field %}
{% load form_tags %}
{% load i18n %}
{% if password_form.non_field_errors %}
   <div class="alert alert-danger" role="alert">
      {% for error in password_form.non_field_errors %}
      <p{% if forloop.last %} class="mb-0 red"{% endif %}>{{ error }}</p>
      {% endfor %}
   </div>
{% endif %}
<div class="padding-top-none modal-body ">
   <div class="form-group" style="padding-top:25px;">
      <form action='{% url "change_password" %}' method="POST" class='js-change-password'>
         {% csrf_token %}
         {% for field in password_form %} 
            <div class="form-group">
               {{field.label_tag}}
               <div class="{% if field.errors %} has-error {% endif %}">
                  {% render_field field|add_class:'form-control my-input' class=field|input_class %}
               </div>
               {% if field.html_name == "new_password1" %}
                  <small class="form-text text-muted">
                     <ul style='padding:0; margin: 10px 0 0 15px;'>
                        <li>Your password can't be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can't be a commonly used password.</li>
                        <li>Your password can't be entirely numeric.</li>
                     </ul>
                  </small>
               {% endif %}
                  {% for error in field.errors %}
                     <div class="invalid-feedback help-block {% if field.errors %} has-error {% endif %}">
                        <span class="text-danger">{{ error }}</span>
                        {% if field.help_text %}
                           <small class="form-text text-muted">
                              {{ field.help_text|safe }}
                           </small>
                        {% endif %}
                     </div>
                  {% endfor %}
            </div>
         {% endfor %} 
         <div class="text-right" style="margin-top:30px">
            <hr/>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </form>
   </div>
</div>