<h2 style='color: rgb(48, 57, 64); font-size: 34px; font-weight: 500; line-height: 41px; margin-top: 65px;' class='text-center'>Here's Your Secret API Key</h2>
<p style='font-size:16px; line-height:23px; color:#333; font-weight:normal' class='text-center'>We only show this to you once (right now).</p>
<p style='font-size:16px; line-height:23px; color:#333; font-weight:normal' class='text-center'>If you forget it, you'll need to generate a new one.</p>
<input style="line-height: 22px; color: #4F4F4F; font-size: 18px; font-weight: 500; background-color: #F2F2F2; width:100%; margin-top: 38px;  padding: 10px 5%; outline: none; display: block; border:none; border-radius: 5px; margin-bottom: 12px; font-family:'Montserrat', sans-serif; height: 50px;" id='copy-api-key' class='form-control' readonly="readonly" value="{{apiKey}}"}>
<h5 id='to-copy-text' class='text-center' style='color:green; display:none'>Copied!</h5>
<button id="close-success-api-key" type="button" style="line-height: 22px; margin-left:auto; box-sizing: border-box; align-items: center; box-shadow: none; color: #fff; text-align: center; font-size: 18px; font-weight: 500; background-color: #2F80ED; width: 165px; padding: 0 10px; transform: translateZ(0px); justify-content: center; outline: none; text-decoration: none; display: flex; margin-top: 28px; margin-bottom:30px; border-radius: 5px; font-family: 'Montserrat', sans-serif; height: 42px;">
        Close
</button>

<style>
    #copy-api-key::selection {
  background-color: rgba(0,0,0,0);
}
</style>

<script>
    $(function() {
        $('#copy-api-key').click(function() {
            $(this).select();
            document.execCommand('copy');
            $('#to-copy-text').css('display', 'block');
        })
        var closeSuccessApiKey = function(){ 
            location.reload();
        };
        $('#close-success-api-key').click(closeSuccessApiKey);
    })
</script>
