{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags widget_tweaks %}
{% load crispy_forms_field %}
{% load form_tags %}
{% load split_api_key %}
{% block content %}
    <div class='col-sm-12'>
        <div class="row">
            <div class="col-sm-5">
                <h1 class='text-center'>Contact Us</h1>
                <div class='panel panel-default'>
                    <div class="panel-body">
                        <form method='POST' id='contact-us-form'>
                            {% csrf_token %}
                            {% include 'includes/form.html' %}
                            <div class='text-center'><button type='submit' class='btn btn-primary'>Send Request</button></div>
                        </form>
                    </div>
                </div>
            </div>
        <div class='col-sm-1'></div>
        <div class="col-sm-6" style='height:100%'>
            <h1 class='text-center' style='color:#30a5ff; font-size:4rem; font-weight:700;'>Let’s chat.</h1>
            <div class="panel">
                <div class="panel-body">
            <div class='text-center' style='font-size: 2rem'>
                <p style='color:black; margin-top:30px;'>If you’re considering DadaDriven or just need</p>
                <p style='color:black'>more information, we can help. Please fill out</p>
                <p style='color:black'>this form and we’ll contact you soon.</p>
                <br>
                <p style='color:black'>Or send an email to <strong>team@datadriven.com</strong></p>
            </div>
        </div>
        </div>
        </div>  
        </div>
    </div>
{% endblock %}