{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags widget_tweaks %}
{% load crispy_forms_field %}
{% load form_tags %}
{% load split_api_key %}
{% load split_plan_nickname %}
{% block content %}

<div class="row" style='margin:0;'>
   <div class="col-lg-12" style='padding-left:10px;'>
      <h1 style='font-weight:500; font-style:normal; font-size: 43px; line-height:52px; margin-bottom:30px;'>Dashboard</h1>
   </div>
</div>
<!--/.row-->

<div class="row" style=' margin:0;'>
      <div class='col-lg-8' style='padding-left:0; margin:10px 0;'>
         <div style='padding:20px 13px 20px 20px; display:flex; flex-wrap:wrap; background-color:#fff; border-radius:5px;'>
            <div class='your-api-keys-text' style=' height:100%; font-weight:500; font-size: 20px; line-height:40px;'>
               Your API keys
            </div>
            <div class='generate-new-api-key-div' style='margin-left:auto;'>
               <button id='generate-new-api-key' style='font-weight:bold; font-size:20px; line-height:24px; color:#fff; border:none; padding:8px 20px; border-radius:5px; background-color:#2F80ED'>Generate new API key <img style='margin-left: 14px; margin-top:-3px;' src="{% static 'images/plus.png' %}" alt=""></button id='generate-new-api-key'>
            </div>
         </div>
         <div class='table-responsive api-key-table' style='border-radius:5px;background-color: white; height:50vh; margin-top:20px;'>
            <table class='table'>
               <thead style='background-color:#EDEDED; font-size: 16px; line-height:20px;font-weight:600;'>
                  <th class='api-key-table-td'>Name</th class='api-key-table-td'>
                  <th class='api-key-table-td'>Key</th class='api-key-table-td'>
                  <th class='api-key-table-td'>Revoked</th class='api-key-table-td'>
                  <th class='api-key-table-td'>Create date</th class='api-key-table-td'>
                  <th class='api-key-table-td'>Actions</th class='api-key-table-td'>
               </thead>
               <tbody style='font-size: 15px; line-height:18px; color:#000; font-weight: normal; border-bottom:1px solid #ddd;'>
                  {% for key in keys %}
                     <tr>
                        <td class='api-key-table-td'>{{key}}</td>
                        <td class='api-key-table-td'>{{key.pk|truncatechars:11}}</td class='api-key-table-td'>
                        <td class='api-key-table-td'>{{key.revoked}}</td class='api-key-table-td'>
                        <td class='api-key-table-td'>{{key.created}}</td class='api-key-table-td'>
                        <td class='api-key-table-td'>
                           <div class='edit-delete-select-div' id="{{key.name}}" style="position:relative">
                              <div style="background-image: url(&quot;https://dashboard.fullcontact.com/images/misc-icons-20x20.svg?v=06f10eebde1183e68ac8364b79020f29&quot;); background-size: 1560px 20px; background-position: -240px 0px; height: 20px; width: 20px; cursor: pointer; box-shadow: inherit;"></div>
                              <div class='edit-delete-select' style="z-index: 999; position:absolute; top:100%; margin-top:3px; display:none">
                                 <div style="box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 7px 0px; max-height: 954px; min-height: 20px; overflow: auto; background-color: rgb(62, 70, 76); z-index: 10; display: block; position: relative; border-radius: 3px;">
                                    <div style="margin-top: -1px;">
                                       <a data-url='{% url "update_api_key" key.pk|truncatechars:11|split_key%}' title="Rename" class='js-update-apikey' href="#" style="align-items: center; color: rgb(255, 255, 255); font-size: 14px; background-color: rgb(48, 57, 64); margin-top: 1px; cursor: pointer; padding: 10px 12px 11px 20px; justify-content: flex-start; text-decoration: none; display: flex; position: relative; height: 40px;">
                                          <div style="display: flex; flex-grow: 1; align-items: center; position: relative;">
                                             <span style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; flex: 1 1 auto;">Rename</span>
                                             <div style="flex-grow: 1;"></div>
                                          </div>
                                       </a>
                                       <a title="Delete" class='js-delete-api-key' href='{% url "delete_api_key" key.pk|truncatechars:11|split_key %}' style="align-items: center; color: rgb(255, 255, 255); font-size: 14px; background-color: rgb(48, 57, 64); margin-top: 1px; cursor: pointer; padding: 10px 12px 11px 20px; justify-content: flex-start; text-decoration: none; display: flex; position: relative; height: 40px;">
                                          <div style="display: flex; flex-grow: 1; align-items: center; position: relative;">
                                             <span style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; flex: 1 1 auto;">Delete</span>
                                             <div style="flex-grow: 1;"></div>
                                          </div>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </td class='api-key-table-td'>
                     </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
      <div class="col-lg-4" style='margin:10px 0;padding-left:0;'>
         <div style='background-color: #fff;border-radius:5px; padding:20px 13px 20px 20px;'>
            <p style='color:#2F80ED; font-weight:500; font-size: 14px; line-height:17px; font-style:normal;'>MY PLAN</p>
            <div style='width:90%; margin:0 auto'>
               {% if current_plan %}
               <h1 style='text-transform: capitalize; font-weight:500; line-height:44px; font-size: 36px; text-align: center; margin-bottom:20px;'>{{current_plan.nickname|split_plan_nickname}}</h1>
               {% for item in current_plan.plan_items.all %}
                  <p style='font-weight: normal; font-size: 15px; line-height:18px; text-align: center;'>{{item.value}}</p>
               {% endfor %}
               {% else %}
               {% endif %}
               <button id='select-plan-modal-button' style='display:block; margin: 30px auto 20px auto; width:85%; font-weight:bold; font-size:20px; line-height:24px; color:#fff; border:none; padding:8px 20px; border-radius:5px; background-color:#2F80ED'>Compare plans</button>
            </div>
         </div>
      </div>


</div><!--/.row-->
<div class="modal fade" id="get-api-key-modal" tabindex="-1" role="dialog" aria-labelledby="get-api-key-modal" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%)" role="document">
      <div class="modal-content">
         <div class="padding-top-none modal-body " style="display: flex; flex-direction: column; align-items: center;">
            <div id="create-api-key-content" class="form-group">
               <h2 style="color: rgb(48, 57, 64); font-size: 34px; font-weight: 500; line-height: 41px; margin-top: 65px;" class="text-center">Name Your New API Key</h2>
                  <form action="{% url 'create-api-key' %}" enctype='application/json' method="POST" class="form_disabled" id="get-api-key-form">
                     {% csrf_token %}
                     <input placeholder="API Key Name" name="name" class="input2 " value="" style="line-height: 22px; color: #4F4F4F; font-size: 18px; font-weight: 500; background-color: #F2F2F2; width:100%; margin-top: 38px;  padding: 10px 5%; outline: none; display: block; border:none; border-radius: 5px; margin-bottom: 12px; font-family:'Montserrat', sans-serif; height: 50px;">
                     <div style="display: flex; margin-top: 28px; margin-bottom: 50px; flex-wrap:wrap;">
                        <button id="close-get-api-key" type="button" style="line-height: 22px; box-sizing: border-box; align-items: center; box-shadow: none; color: #2F80ED; text-align: center; font-size: 18px; font-weight: 500; background-color: #FFFFFF; width: 165px; padding: 0 10px; transform: translateZ(0px); justify-content: center; outline: none; text-decoration: none; display: flex; margin-right: 10px; border: 1.5px solid #2F80ED; border-radius: 5px; font-family: 'Montserrat', sans-serif; height: 42px;">
                        Cancel
                        </button>
                        <button id="save-get-api-key" type="submit" style="margin-left: auto;line-height: 22px; box-sizing: border-box; align-items: center; box-shadow: none; color: #fff; text-align: center; font-size: 18px; font-weight: 500; background-color: #2F80ED; width: 165px; padding: 0 10px; transform: translateZ(0px); justify-content: center; outline: none; text-decoration: none; display: flex; border: 1.5px solid #2F80ED; border-radius: 5px; font-family: 'Montserrat', sans-serif; height: 42px;">
                        Save
                        </button>
                     </div>
                  </form>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="modal fade" id="rename-api-key" tabindex="-1" role="dialog" aria-labelledby="rename-api-key" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%)" role="document">
      <div class="modal-content">
         <div class="padding-top-none modal-body " style="display: flex; flex-direction: column; align-items: center;">
            <div class="form-group">
               <h2 style="color: rgb(48, 57, 64); font-size: 24px; font-weight: 500; line-height: 32px; margin-top: 49px;" class="text-center">Rename Your API Key</h2>
               <form action="" enctype='application/json' method="POST" class="form_disabled" id="update-api-key-form">
                  {% csrf_token %}
                  <input placeholder="API Key Name" name="name" class="input2 " value="" style="line-height: 20px; color: rgb(57, 60, 64); font-size: 16px; font-weight: 400; background-color: rgb(235, 236, 237); margin-top: 38px; width: 300px; padding: 8px 11px 10px; outline: none; display: block; border: 1px solid rgb(214, 218, 219); border-radius: 2px; margin-bottom: 12px; font-family:Avenir Next W00, sans-serif; height: 50px;">
                  <div style="display: flex; margin-top: 28px; margin-bottom: 64px;">
                     <button id="close-edit-api-key" type="button" style="line-height: 20px; box-sizing: border-box; align-items: center; box-shadow: none; color: rgb(38, 156, 226); text-align: center; font-size: 16px; font-weight: 400; background-color: rgb(255, 255, 255); width: 145px; padding: 14px 20px; transform: translateZ(0px); justify-content: center; outline: none; text-decoration: none; display: flex; margin-right: 10px; border: 1px solid rgb(235, 236, 237); border-radius: 2px; font-family: 'Avenir Next W00', sans-serif; height: 50px;">
                     Cancel
                     </button>
                     <button id="save-edit-api-key" type="submit" style="line-height: 20px; box-sizing: border-box; align-items: center; box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 2px 0px; color: rgb(255, 255, 255); text-align: center; font-size: 16px; font-weight: 400; background-color: rgb(38, 156, 226); width: 145px; cursor: pointer; opacity: 0.2; padding: 14px 20px; justify-content: center; outline: none; text-decoration: none; display: flex; border: 1px solid rgb(34, 140, 201); border-radius: 2px; user-select: none; font-family: 'Avenir Next W00', sans-serif; height: 50px;">
                     Save
                     </button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="modal fade" id="plan-modal" tabindex="-1" role="dialog" aria-labelledby="plan-modal" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%)" role="document">
      <div class="modal-content">
         <div class="padding-top-none modal-body " style="display: flex; flex-direction: column; align-items: center;">
            <div class="form-group" style='width:100%; margin-bottom:0'>
               <h2 style="color: rgb(48, 57, 64); font-size: 24px; font-weight: 500; line-height: 32px; margin-top: 49px;" class="text-center">Credit Card details
               </h2>
               <form action="{% url 'create_subscription' %}" enctype='application/json' method="POST" class="form_disabled" id="payment-form" >
                  {% csrf_token %}
                  <input type="hidden" name='pk' value={{key}}>
                  <input type="hidden" name='plan_type' value=''>
                  <input type='text' class='form-control' placeholder="Name" name="name" value="{{customer.user.name}}" style='margin-top:20px; font-size: 17px;color: rgb(57, 60, 64);background-color: rgb(235, 236, 237); width: 100%;'>
                  <input type='text' class='form-control' placeholder="Address" name="address" value="{{customer.address}}" style='margin-top:9px; font-size: 17px;background-color: rgb(235, 236, 237); width: 100%;' required>
                  <input class='form-control' placeholder="City" name="city" value="{{customer.city}}" style='margin-top:9px; font-size: 17px;background-color: rgb(235, 236, 237); width: 100%;' required> 
                  <input class='form-control' placeholder="State" name="state" value="{{customer.state}}" style='margin-top:9px; font-size: 17px;background-color: rgb(235, 236, 237); width: 100%;' required>
                  <input class='form-control' placeholder="ZIP" name="zip" value="{{customer.zip}}" style='margin-top:9px; font-size: 17px;background-color: rgb(235, 236, 237); width: 100%;' required>
                  <input class='form-control' placeholder="Country" name="country" value="{{customer.country}}" style='margin-top:9px; font-size: 17px;background-color: rgb(235, 236, 237); width: 100%;' required>
                  <div id="card-element" style='margin-top:20px; background-color:rgb(235, 236, 237);'>
                     <!-- A Stripe Element will be inserted here. -->
                  </div>
                  <!-- Used to display form errors. -->
                  <div id="card-errors" role="alert"></div>
            </div>
            <div style="display: flex; margin-top: 28px; margin-bottom: 20px;">
            <button id="close-plan-modal" type="button" style="margin:0 auto; line-height: 20px; box-sizing: border-box; align-items: center; box-shadow: none; color: rgb(38, 156, 226); text-align: center; font-size: 16px; font-weight: 400; background-color: rgb(255, 255, 255); width: 145px; padding: 14px 20px; transform: translateZ(0px); justify-content: center; outline: none; text-decoration: none; display: flex; margin-right: 10px; border: 1px solid rgb(235, 236, 237); border-radius: 2px; font-family: 'Avenir Next W00', sans-serif; height: 50px;">
            Cancel
            </button>
            <button id="save-plan-form" type="submit" style="margin:0 auto; line-height: 20px; box-sizing: border-box; align-items: center; box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 2px 0px; color: rgb(255, 255, 255); text-align: center; font-size: 16px; font-weight: 400; background-color: rgb(38, 156, 226); width: 145px; cursor: pointer; padding: 14px 20px; justify-content: center; outline: none; text-decoration: none; display: flex; border: 1px solid rgb(34, 140, 201); border-radius: 2px; user-select: none; font-family: 'Avenir Next W00', sans-serif; height: 50px;">
            Change Plan
            </button>
            </div>
            </form>
         </div>
      </div>
   </div>
</div>
</div>

<div class="modal fade" id="select-a-plan-modal" tabindex="-1" role="dialog" aria-labelledby="rename-api-key" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" style="width:80%; position:absolute; top:30%; left:50%; transform: translate(-50%, -30%)" role="document">
      <div class="modal-content" style='color: #4F4F4F !important; position: relative;'>
         <img style='position:absolute; cursor:pointer; top:33px; right:48px;' id="select-plan-modal-close" src="{% static 'images/close.png' %}" alt="">
         <div class="modal-header text-center" style='border:none; margin-top:34px; font-weight:500; font-size:36px; line-height:44px'>SELECT A PLAN</div>
         <div class="modal-body" style='display:flex; justify-content: center; flex-wrap:wrap; padding-bottom:50px;'>
            {% for plan in plans %}
               <div style='background-color: #F6F6F6;width:280px; height:454px; margin: 15px 20px;'>
                  <p style='font-weight:500; font-size:18px; line-height:22px; text-transform: uppercase;  text-align: center;margin-top:35px;'>{{plan.nickname|split_plan_nickname}}</p>
                  <p style='font-size:48px; line-height:59px; font-weight:500; text-align: center;margin-top:40px; margin-bottom:0;'>{{plan.price.amount|floatformat}}<span style='font-size:36px; line-height:44px; '>€</span></p>
                  <p style='font-weight:normal; font-size:14px; line-height:30px; text-align: center;'>per month <span style='color:#2e80ed'>(7 days free)</span></p>
                  {% if current_plan == plan %}
                     <a href="{% url 'cancel_subscription' %}" style='text-decoration: none;'><button id='cancel-plan-button' style='width:187px; display:block; margin:25px auto; height:45px; background-color:#EB5757; border-radius:5px; font-weight:600; font-size:16px; line-height:20px; color:#fff; border:none;'>Cancel</button></a>
                  {% else %}
                     <button class='select-plan-button' data='{{plan.nickname}}' style='width:187px; display:block; margin:25px auto; height:45px; background-color:#2F80ED; border-radius:5px; font-weight:600; font-size:16px; line-height:20px; color:#fff; border:none;'>Start free trial</button>
                  {% endif %}
                  <ul class='plan-ul-items' style='list-style-type: none; display:block; padding-inline-start: 0; width:max-content; margin:0 auto; font-size:14px; line-height: 17px; font-weight: normal; '>
                     {% for item in plan.plan_items.all %}
                        <li>- {{item.value}}</li>
                     {% endfor %}
                  </ul>
               </div>
            {% endfor %}
         </div>
         </div>
      </div>
   </div>
</div>

<!--
<div id="select-a-plan-modal" style="display:none; position: fixed; z-index: 2000; left: 0px; top: 0px; width: 100%; height: 100%; background-color: rgba(93, 103, 109, 0.98); overflow: auto;">
   <div style="width: 100%; height: auto; min-height: 100%; padding: 20px; flex-direction: column; display: flex; align-items: center; justify-content: center;">
      <div style="margin: 0px auto; flex-shrink: 1; max-width: 668px; display: flex; width: calc(100vw - 40px);position:relative">
         <div id="select-plan-modal-close" class="hidden-on-print" style="background-color: #333;top: 1px; width: 40px; cursor: pointer; background-image: url(&quot;https://dashboard.fullcontact.com/images/misc-icons-40x40.svg?v=108909f25238c91d9cddb4f648001fd5&quot;); z-index: 9999; opacity: 0.5; right: 1px; position: absolute; background-position: -40px 0px; background-size: 440px 40px; height: 40px;"></div>
         <div style="background-color: rgb(255, 255, 255); padding: 0px; border-radius: 3px; max-width: 100%;">
            <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
               <div style="color: rgb(48, 57, 64); font-size: 24px; font-weight: 500; line-height: 34px; margin-top: 50px;">Select a Plan</div>
               <div style="display: flex; overflow: auto; width: 100%;">
                  <div style="flex-wrap:wrap; justify-content: center; margin: 40px 0px 83px; padding: 0px 40px; display: flex;">
                     {% for plan in plans %}                        
                     <div style="align-items: center; width: 186px; background: rgb(255, 255, 255); cursor: pointer; display: flex; border: 2px solid rgb(235, 236, 237); border-radius: 2px; flex-direction: column; height: 485px; margin: 5px 10px;">
                        <div style="color: rgb(38, 156, 226); font-size: 14px; font-weight: 700; letter-spacing: 1px; line-height: 19px; margin-top: 33px; text-transform: capitalize;">{{plan.nickname|split_plan_nickname}}</div>
                        <div style="display: flex; flex-direction: column;">
                           <div style="color: rgb(48, 57, 64); font-size: 32px; font-weight: 500; line-height: 44px; margin-top: 15px;">{{plan.price.amount|floatformat}}<small>€</small></div>
                           <div style="color: rgb(93, 103, 109); font-size: 15px; line-height: 20px; margin: -4px 0px 23px;">per month</div>
                        </div>
                        {% if current_plan == plan %}
                        <a href="{% url 'cancel_subscription' %}" style='text-decoration: none;'><button id="cancel-plan-button" type="button" style="line-height: 20px; box-sizing: border-box; align-items: center; box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 2px 0px; color: rgb(255, 255, 255); text-align: center; font-size: 14px; font-weight: 400; background-color: #dc3545; width: 130px; padding: 0px; justify-content: center; outline: none; text-decoration: none; display: flex; border: 1px solid #dc3545; border-radius: 2px; font-family: &quot;Avenir Next W00&quot;, sans-serif; height: 40px;">Cancel</button></a>
                        {% else %}
                        <button class='select-plan-button' data='{{plan.nickname}}' type="button" style="line-height: 20px; box-sizing: border-box; align-items: center; box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 2px 0px; color: rgb(255, 255, 255); text-align: center; font-size: 14px; font-weight: 400; background-color: rgb(38, 156, 226); width: 130px; padding: 0px; justify-content: center; outline: none; text-decoration: none; display: flex; border: 1px solid rgb(34, 140, 201); border-radius: 2px; font-family: &quot;Avenir Next W00&quot;, sans-serif; height: 40px;">Select Plan</button>
                        {% endif %}
                        <div style="background: rgb(235, 236, 237); margin: 30px 0px 8px; height: 2px; width: 40px;"></div>
                        {% for item in plan.plan_items.all %}
                        <div style="font-size: 13px; line-height: 18px; display: flex; align-items: center; flex-direction: column; margin-top: 18px;">
                           <p style='text-align: center;'>{{item.value}}</p>
                        </div>
                        {% endfor %}
                     </div>
                     {% endfor %}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
-->
{% endblock %}
{% block javascript %}
<script src="https://js.stripe.com/v3/"></script>
<script>
   var stripe = Stripe('pk_test_um7sb2bYnLoGXa7RzvWsLPD000NCFy7aIB');
   
   // Create an instance of Elements.
   var elements = stripe.elements();
   
   // Custom styling can be passed to options when creating an Element.
   // (Note that this demo uses a wider set of styles than the guide below.)
   var style = {
   base: {
      color: '#32325d',
      fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
      fontSmoothing: 'antialiased',
      fontSize: '16px',
      '::placeholder': {
         color: '#aab7c4'
      }
   },
   invalid: {
      color: '#fa755a',
      iconColor: '#fa755a'
   }
   };
   
   // Create an instance of the card Element.
   var card = elements.create('card', {style: style});
   
   // Add an instance of the card Element into the `card-element` <div>.
   card.mount('#card-element');
   
   // Handle real-time validation errors from the card Element.
   card.addEventListener('change', function(event) {
   var displayError = document.getElementById('card-errors');
   if (event.error) {
      displayError.textContent = event.error.message;
   } else {
      displayError.textContent = '';
   }
   });
   
   // Handle form submission.
   var form = document.getElementById('payment-form');
   form.addEventListener('submit', function(event) {
   event.preventDefault();
   
   stripe.createToken(card).then(function(result) {
      if (result.error) {
         // Inform the user if there was an error.
         var errorElement = document.getElementById('card-errors');
         errorElement.textContent = result.error.message;
      } else {
         // Send the token to your server.
         stripeTokenHandler(result.token);
      }
   });
   });
   
   // Submit the form with the token ID.
   function stripeTokenHandler(token) {
   // Insert the token ID into the form so it gets submitted to the server
   var form = document.getElementById('payment-form');
   var hiddenInput = document.createElement('input');
   hiddenInput.setAttribute('type', 'hidden');
   hiddenInput.setAttribute('name', 'stripeToken');
   hiddenInput.setAttribute('value', token.id);
   form.appendChild(hiddenInput);
   
   // Submit the form
   form.submit();
   }
   $(document).on('keydown', function(event) {
      if (event.key == "Escape"){
         $('#select-a-plan-modal').modal('hide');
      }
   });
   
   $(function() {
      $('#card-mm-yy').on('input propertychange', function(){
         if($(this).val().length == 2){
            $(this).attr('value', $(this).val() + '/');
         }
      });
      // Select a Plan modal-window
      var loadModalSelectPlan = function () {
         $('#select-a-plan-modal').modal('show');
      }
      var loadModalTypeNameApiKey = function () {
         $('#get-api-key-modal').modal('show');
      }
      var closeSelectPlanModal = function() {
         $('#select-a-plan-modal').modal('hide');  
      }
   
      $('#select-plan-modal-button').click(loadModalSelectPlan);
      $('#select-plan-modal-close').click(closeSelectPlanModal);
   
   
      // Select plan modal-window
      $('.select-plan-button').click(function () {
         $('#select-a-plan-modal').modal('hide');
         $('#plan-modal form input[name=plan_type]').val($(this).attr('data'));
         $('#plan-modal').modal('show');
      });
   
      $('#close-plan-modal').click(function() {
         $('#plan-modal').modal('hide');
      });
   
      // Edit selected Api-Key
      var LoadUpdateApiKeyModal = function() {
         var form = $('#update-api-key-form');
         form.attr('action', $(this).attr('data-url'));
         $('#rename-api-key').modal('show');
      }
   
      $('#close-edit-api-key').click(function() {
         $('#rename-api-key').modal('hide');
      });
      var checkNotBlankFieldRename = function() {
         var field = $(this);
         if(field.val().length > 0){
            $('#save-edit-api-key').css('opacity','1');
         }
         else {
            $('#save-edit-api-key').css('opacity','0.2');
         }
      }
      $('#update-api-key-form input[name=name]').on('input propertychange', checkNotBlankFieldRename);
      $('.js-update-apikey').click(LoadUpdateApiKeyModal);
   
   
      //Action list to Api-Key
      $('.edit-delete-select-div').click(function (e) {
         var div = $(this);   
         $('.edit-delete-select').each(function(i, elem) {
            $(this).css('display', 'none');
         });
         var editDeleteSelect = $(`#${div.attr('id')} .edit-delete-select`);
         editDeleteSelect.css('display','block');
      });
      $(document).click(function(e) {
         if(e.target.parentNode.className != 'edit-delete-select-div'){
            $('.edit-delete-select').each(function(i, elem) {
            $(this).css('display', 'none');
         })
         }
      })
   
   
      //Create Api-Key modal-window
      var showApiKey = function() {
         var form = $(this);
         $.ajax({
            url: form.attr("action"),
            data: form.serialize(),
            type: form.attr("method"),
            dataType: "json",
            success: function(data) {
            if (data.form_is_valid) {
               $('#create-api-key-content').html(data.successed_api_key);
            } else {
               location.reload();
            }
            }
      });
      return false;
   };
   $('#get-api-key-form').on('submit', showApiKey)
      var checkNotBlankField = function() {
         var field = $(this);
         if(field.val().length > 0){
            $('#save-get-api-key').css('opacity','1');
         }
         else {
            $('#save-get-api-key').css('opacity','0.2');
         }
      };
      
      var closeModalTypeNameApiKey = function () {
         $('#get-api-key-modal').modal('hide');
      };
   
      $('#close-get-api-key').click(closeModalTypeNameApiKey);
      $('#get-api-key-form input[name=name]').on('input propertychange', checkNotBlankField);
      $('.js-open-modal-get-api-key').click(loadModalTypeNameApiKey);
      $('#generate-new-api-key').click(loadModalTypeNameApiKey);
   
   });
</script>
{% endblock %}