{% extends 'accounts/test_products.html' %}



{% block content %}
<script
    type="text/javascript"
    src="https://richy.ddriven.eu/assets/tracking.js">
</script>
<div class="row">
        <div class="col-sm-6">
            <h1>Device Info</h1>
    </div>
</div>
<div>
    <table class="table table-bordered" width="90%" id='device_info_table' action="{% url 'device_info' %}" >
        <input type="hidden" id='csrf' name='csrfmiddlewaretoken' value='{{ csrf_token }}'>
        {% for k in components %}
            {% if k.key != 'canvas' and k.key != 'webgl' %}
                <tr>
                    <td><strong>{{ k.key }}</strong></td>
                    <td>{{ k.value }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        {% if launch %}
            <tr>
                <td><strong>Device Age</strong></td>
                <td>{{ launch }}</td>
            </tr>
        {% else %}
            <tr>
                <td><strong>Device Age</strong></td>
                <td>UNKNOWN</td>
            </tr>
        {% endif %}
        {% if attr %}
            <tr>
                <td><strong>Price</strong></td>
                <td>{% for a in attr%}{{a.price.amount}} {{a.price.currency}}<br>{% endfor %}</td>
            </tr>
        {% else %}
            <tr>
                <td><strong>Price</strong></td>
                <td>UNKNOWN</td>
            </tr>
        {% endif %}
    </table>  
  </div>
{% endblock %}



{% block javascript %}
<script src='https://cdn.jsdelivr.net/npm/fingerprintjs2@2.1.0/fingerprint2.js'></script>
<script>
    var config = {
        'accountId': 'b86cdf1f-91a9-4d40-bc61-fdb8ed5062a0',
        'sessionId': '{{sessionId}}',
        'userId': '{{user_id}}',
        'pageTitle': 'Application Form 1',
        'fields': {
            'LoginFormField': 'login-form-field',
        },
    };
    da('config', config);
</script>

<script>

var bool = true;
if (window.requestIdleCallback) {
    requestIdleCallback(function () {
       Fingerprint2.get(function (components) {

        if (bool === true){
            var data = {'components': JSON.stringify(components), 'csrfmiddlewaretoken': $('#csrf').val()}
                $.ajax({
                    url: $('#device_info_table').attr('action'),
                    data: data,
                    type: "post",
                    dataType: "json",
                    success: function(data) {
                        if (data.is_valid) {
                            $('body').html(data.device_info);
                            bool = false;
                        }
                        else{
                            alert(2);
                            location.reload();
                        }
                    }
                });}
       })
    })
 } else {
    setTimeout(function () {
       Fingerprint2.get(function (components) {
       })  
    }, 500)
 }
</script>

{% endblock %}

