{% extends 'accounts/test_products.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <h1>Geodata</h1>
        <div class='panel panel-default'>
            <div class="panel-body">
                <form method='POST'>
                    {% csrf_token %}
                    {% include 'includes/form.html' %}
                    <div class='text-center'><button type='submit' class='btn btn-primary'>Send Request</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
  <table class="table table-bordered" width="90%">
    {% for k,v in response.items %}
    <tr>
      <td>{{ k }}</td>
      <td>{{ v }}</td>
    </tr>
    {% endfor %}
  </table>  
</div>
{% endblock %}