{% extends "index.html" %}
{% load form_tags %}
{% load socialaccount %}
{% load static %}
{% load i18n %}
{% providers_media_js %}
{% load crispy_forms_tags widget_tweaks %}

{% block content %}
<style>
   body{
      font-family: 'Montserrat', sans-serif;
   }

   .myform label{
      font-size:1rem;
      line-height: 1.25rem;
      font-weight: 500;
      color: #343A40;

   }
   .myform input{
      font-size:1rem;
      line-height: 1.25rem;
      font-weight: 500;
      color: #343A40;
      padding: 7px 10px;
      border: 1.5px solid #E0E0E0;
      border-radius: 5px;
      box-sizing: border-box;
   }
</style>
{% if request.path == "/login/" %}
<link rel="stylesheet" href="{% static 'css/signup_login.css' %}"/>
<div class="container mt-5 pt-5" id='login-container'>
<div class="row">
   <div class="col-md-8 col-lg-8 mx-auto text-center">
      <div class="header-title">
         <h1 style='font-size: 3rem; font-family: "Montserrat", sans-serif; font-weight:500; line-height:3.125rem' class="wv-heading--title white mt-5">
            Check out — it’s free!
         </h1>
         <h2 style='font-size: 1rem; line-height:1.25rem; font-weight:400' class="wv-heading--subtitle white">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fermentum sit etiam neque, placerat pulvinar adipiscing. Mattis nunc posuere facilisis egestas urna nisl diam amet nisl..
         </h2>
      </div>
   </div>
</div>
<div class="row">
   {% block formform %}
      <div class="col-md-6 mt-4 col-lg-5 mx-auto mb-5">
         <div class="myform form" id='login-form'>
            <form method="post" class='mt-2' novalidate>
               {% csrf_token %}
               {% include 'includes/form.html' %}
               <a href="{% url 'password_reset' %}" style='display:block; font-size: 0.75rem; line-height: 0.9375rem; font-weight: 400;' class='text-right'>{% trans "Forgot your password?" %}</a>
               <div class="mt-4 mb-2">
                  <button type="submit"  id='login-submit'>Log in</button>
               </div>
               <a href="">
                  <div class="form-group">
                     <a href="{% provider_login_url 'google' %}">
                  <div class="google-btn mt-2" style='width:100%; line-height: 100%;'>
                     <div class="google-icon-wrapper">
                       <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                     </div>
                     <div style='height:40px; line-height: 40px; text-align: center; font-size: 1rem; color: #fff;'>Sign in with google</div>
                   </div>
                  </a>
                  </div>
                  <a style="display:block;font-size:0.75rem; font-weight:400; line-height:0.93rem;" class="pad text-center" href="{% url 'signup' %}">{% trans "Don't have an account? Create an Account" %}</a>
            </form>
         </div>
      </div>
   {% endblock %}
</div>
{% block footer %}
{% endblock %}
{% endif %}
{% endblock %}