{% extends 'accounts/signup.html' %}
{% load static %}

{% block title %}Password Reset Email Sent{% endblock %}


{% block signupbackground %}
<div>
<h1 class="card-title mx-auto text-center mt-3" style='font-weight:600; font-size:1.45rem; line-height: 1.875rem;'>PASSWORD RESET EMAIL SENT</h1>
<p class="text-center mt-4" style='font-weight:400; font-size: 1rem; line-height: 1.5rem'>An e-mail has been sent to your rescue email address. Follow the directions in the email to confirm your email. </p>
<p class='text-center mb-4'><a class='btn btn-success py-2' style="font-weight:500; font-size: 1.125rem; line-height: 1.375rem; display: block; width:100%; background-color:#27AE60; border-color:#27AE60" href="{% url 'home' %}">Done</a></p>
</div>
{% endblock %}
