{% extends "accounts/signup.html" %}

{% load i18n %}
{% load crispy_forms_tags %}


{% block signupbackground %}
    {% if validlink %}

        <h1 class='text-center mt-4' style='font-weight:600; font-size:1.3rem; line-height:1.75rem; color: black;'>{% trans "PASSWORD RESET CONFIRMATION" %}</h1>

        <p class='text-center' style='font-size: 1rem; line-height: 1.5rem'>
            {% trans "Please choose a new password" %}
        </p>
        <form method='POST'>
            {% csrf_token %}
            <fieldset class='form-group'>
                {{form|crispy}}
            </fieldset>
            <div class='form-group text-center mb-4'>
                <button class='btn btn-success' style="display:block; width:100%; background-color:#27AE60; border-color:#27AE60; border-radius:5px; line-height:1.375rem; font-size: 1.125remrem; padding:6px 30px;" type='submit'>Done</button>
            </div>
        </form> 
    {% else %}

        <h1 class='text-center mt-4' style='font-weight:600; font-size:1.33rem; line-height:1.75rem; color: black;'>{% trans "PASSWORD RESET UNSUCCESSFUL" %}</h1>


        <p class='text-center mt-4' style='font-size: 1rem; line-height: 1.5rem'>
            {% url 'password_reset' as password_reset_url %}
            {% blocktrans %}
            The password reset link was invalid, possibly because it has already been used.
            Please request a <a href="{{ password_reset_url }}">new password reset</a>.
            {% endblocktrans %}
        </p>
        <p class="text-center mb-5">
            <br>
            <a href="{% url 'login' %}" class="btn btn-primary" style='display:block; width:100%; background-color:#34A3FB; border-color:#34A3FB; border-radius:5px; line-height:1.375rem; font-size: 1.125remrem; padding:6px 30px;'>{% trans "Log in" %}</a>
        </p>

    {% endif %}
{% endblock %}
