{% extends "accounts/signup.html" %}

{% load i18n %}
{% load crispy_forms_tags %}


{% block signupbackground %}
    <h1 class='text-center mt-4' style='font-weight:600; font-size:1.3rem; line-height:1.75rem; color: black;'>{% trans "PASSWORD RESET COMPLETE" %}</h1>

    <p class='text-center mt-4' style='font-size: 1rem; line-height:1.5rem'>
        {% trans 'Your password has been set. You may go ahead and log in now.' %}
    </p>
    <p class="text-center">
        <br>
        <a href="{% url 'login' %}" class="btn btn-primary" style='display:block; width:100%; background-color:#34A3FB; border-color:#34A3FB; border-radius:5px; line-height:1.375rem; font-size: 1.125remrem; padding:6px 30px;'>{% trans "Log in" %}</a>
    </p>
{% endblock %}

