{% extends 'index.html' %}
{% load static %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<style>
  body{
     font-family: 'Montserrat', sans-serif;
  }
  .card{
    background-color: rgba(255,255,255,0.9)
  }
  .myform{
    background-color: rgba(255,255,255,0.9)
  }
</style>
<link rel="stylesheet" href="{% static 'css/signup_login.css' %}"/>
<div class="container mt-5 pt-5" id='login-container'>
  <div class="row">
     <div class="col-md-8 col-lg-8 mx-auto text-center">
        <div class="header-title">
           <h1 style='font-size: 3rem; font-family: "Montserrat", sans-serif; font-weight:500; line-height:3.125rem' class="wv-heading--title white mt-5">
              Check out — it’s free!
           </h1>
           <h2 style='font-size: 1rem; line-height:1.25rem; font-weight:400' class="wv-heading--subtitle white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fermentum sit etiam neque, placerat pulvinar adipiscing. Mattis nunc posuere facilisis egestas urna nisl diam amet nisl..
           </h2>
        </div>
     </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-4 col-lg-5 mx-auto mb-5">
      <div class="card">
        <div class="card-body">
          {% block password_reset_form %}
          <h3 class="card-title  mx-auto text-center mt-4" style='font-weight:600; font-size:1.5625rem; line-height: 1.875rem;'>RESET YOUR PASSWORD</h3>
          <div class="form" style='padding: 15px 25px;'>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block py-2 mb-4" style='display: block; width:100%; line-height:1.375rem; font-size: 1.125remrem; background-color: #34A3FB; border-color: #34A3FB; border-radius:5px;'>Send password reset email</button>
          </form>
          {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div> 
  </div>
{% endblock %}

{% block footer %}

{% endblock %}