{% extends 'base.html'%} {% load static %} {% load i18n %} {% load
crispy_forms_tags widget_tweaks %} {% load crispy_forms_field %} {% load
form_tags %} {% block content %}
<div class="row">
    <div class="row" style="margin:0;">
        <div class="col-lg-12" style="padding-left:10px;">
            <h1
                style="font-weight:500; font-style:normal; font-size: 43px; line-height:52px; margin-bottom:30px;"
            >
                Profile
            </h1>
        </div>
    </div>
    <div class="col-md-6 col-lg-4" id="profile-div">
        <div
            class="profile-left"
            style="
        background-color: #fff;
                               "
        >
            <!-- PROFILE HEADER -->
            <div class="profile-header">
                <div class="overlay"></div>
                <div class="profile-main">
                    {% if request.user.avatar %}
                    <img
                        src="{{MEDIA_URL}}/{{request.user.avatar}}"
                        class="img-circle"
                        height="200px"
                        width="200px"
                        alt="avatar"
                    />
                    {% else %}
                    <img
                        src="http://placehold.it/60/30a5ff/fff"
                        class="img-circle"
                        height="200px"
                        width="200px"
                        alt=""
                    />
                    {% endif %}
                    <h3 class="name">{{request.user.name}}</h3>
                    <span class="online-status status-available">Online</span>
                </div>
                <div class="profile-stat">
                    <div class="row">
                        <div class="col-sm-4 stat-item">
                            <span>45</span><span>Projects</span>
                        </div>
                        <div class="col-sm-4 stat-item">
                            <span>15</span> <span>Awards</span>
                        </div>
                        <div class="col-sm-4 stat-item">
                            <span>2174</span><span>Points</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-detail">
                <div class="profile-info">
                    <ul class="list-unstyled list-justify">
                        <li
                            class="rows"
                            style="
                              border-bottom: 1px solid #F2F2F2;
                              height: 48px;
                              padding: 0 20px;
                              margin: 0;
                              display: flex;
                              justify-content: space-between;
                              align-items: center;
                              "
                        >
                            <strong>Date joined :</strong
                            ><span>{{request.user.date_joined}}</span>
                        </li>
                        <li
                            class="rows"
                            style="
                              border-bottom: 1px solid #F2F2F2;
                              height: 48px;
                              padding: 0 20px;
                              margin: 0;
                              display: flex;
                              justify-content: space-between;
                              align-items: center;
                              "
                        >
                            <strong>Last login :</strong>
                            <span>{{request.user.last_login}}</span>
                        </li>
                        <li
                            class="rows"
                            style="
                              border-bottom: 1px solid #F2F2F2;
                              height: 48px;
                              padding: 0 20px;
                              margin: 0;
                              display: flex;
                              justify-content: space-between;
                              align-items: center; 
                              "
                        >
                            <strong>Email :</strong>
                            <span>{{request.user.email}}</span>
                        </li>
                        <li
                            class="rows"
                            style="
                              border-bottom: 1px solid #F2F2F2;
                              height: 48px;
                              padding: 0 20px;
                              margin: 0;
                              display: flex;
                              justify-content: space-between;
                              align-items: center;
                              "
                        >
                            <strong>Website :</strong>
                            <span
                                ><a href="{{current_site}}"
                                    >{{current_site}}</a
                                ></span
                            >
                        </li>
                    </ul>
                </div>
                <div
                    class="text-center"
                    style="
                     display: flex;
                     justify-content: space-between;
                     padding: 35px 34px 32px"
                >
                    <button
                        type="button"
                        class="btn"
                        data-toggle="modal"
                        data-target="#changePasswordModal"
                        data-whatever="@fat"
                        style="
                           margin-right:5px; 
                           border: 1.5px solid #BDBDBD;
                           background: #fff;
                           color: #828282;
                           height: 45px;
                           width: 145px;
                           text-align: center;
                           padding-right: 6px;
                           padding-left: 6px;"
                    >
                        Change Password
                    </button>
                    <button
                        type="button"
                        class="btn "
                        data-toggle="modal"
                        data-target="#exampleModal"
                        data-whatever="@fat"
                        style="
                           margin-left:5px; 
                           background: #2F80ED;
                           height: 45px;
                           color: #fff;
                           width: 145px;
                           text-align: center;
                           padding-right: 6px;
                           padding-left: 6px;"
                    >
                        Edit / Save
                    </button>
                </div>
                <div
                    class="modal fade"
                    id="changePasswordModal"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="changePasswordLabel"
                    aria-hidden="true"
                >
                    <div
                        class="modal-dialog modal-dialog-centered"
                        role="document"
                    >
                        <div class="modal-content">
                            {% include 'includes/password_change_form.html'%}
                        </div>
                    </div>
                </div>

                <div
                    class="modal fade"
                    id="exampleModal"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                >
                    <div
                        class="modal-dialog modal-dialog-centered"
                        role="document"
                    >
                        <div class="modal-content">
                            {% include 'includes/edit_profile_form.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endblock %} {% block javascript%}
        <script type="text/javascript">
            document
                .getElementsByName("avatar")[0]
                .addEventListener("change", doThing);

            function getBase64(file) {
                return new Promise((resolve, reject) => {
                    const reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = () => resolve(reader.result);
                    reader.onerror = error => reject(error);
                });
            }

            async function doThing(event) {
                const file = event.target.files[0];
                const result = await getBase64(file);

                document.getElementsByName("suka_avatar")[0].src = result;

                console.log(document.getElementsByName("suka_avatar")[0]);
            }
            $(function() {
                var saveFormPasswordChange = function() {
                    var form = $(this);
                    $.ajax({
                        url: form.attr("action"),
                        data: form.serialize(),
                        type: form.attr("method"),
                        dataType: "json",
                        success: function(data) {
                            if (data.form_is_valid) {
                                location.reload();
                            } else {
                                $("#changePasswordModal .modal-content").html(
                                    data.html_form
                                );
                            }
                        }
                    });
                    return false;
                };
                var saveFormEditProfile = function() {
                    var form = $("#formEditProfile");
                    var formData = new FormData();
                    formData.append(
                        "avatar",
                        $("input[type=file]")[0].files[0]
                    );
                    formData.append(
                        "csrfmiddlewaretoken",
                        $("#formEditProfile input[type=hidden]").val()
                    );
                    formData.append("name", $("#id_name").val());
                    formData.append("email", $("#id_email").val());
                    $.ajax({
                        url: form.attr("action"),
                        data: formData,
                        type: form.attr("method"),
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function(data) {
                            if (data.form_is_valid) {
                                location.reload();
                            } else {
                                $("#exampleModal .modal-content").html(
                                    data.html_form
                                );
                            }
                        }
                    });
                    return false;
                };
                $("#changePasswordModal").on(
                    "submit",
                    ".js-change-password",
                    saveFormPasswordChange
                );
                $("#exampleModal").on(
                    "submit",
                    ".js-edit-profile",
                    saveFormEditProfile
                );
            });
        </script>
        {% endblock %}
    </div>
</div>
