{% extends 'base.html' %} {% load static%} {% load crispy_forms_tags %}

{%block content %}
<div>
{% if response_code == 200 %}
  <h1 class="h1 text-center">Success !</h1>
  <table class="table table-bordered" width="90%">
    {% for k,v in data.items %}
    <tr>
      <td>{{ k }}</td>
      <td>{{ v }}</td>
    </tr>
    {% endfor %}
  </table>
{% else %}
  <h1 class="text-center">Failed! Please try again</h1>

{% endif %}
  <a class="btn btn-primary button" href="{% url 'comprehensive_info' %}">Resend</a>
</div>

{% endblock %}
