{% extends 'base.html' %} {% load crispy_forms_tags %} 
{% block head_js %}
{% endblock %}
{% block content %}
<div class="row">
<div class="col-lg-5">
<div class="panel panel-default">
<div class="panel-body">
  <form action="{% url 'comprehensive_info' %}" method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-primary button">
      Send
    </button>
  </form>
  </div>
  </div>
</div>
</div>


{% block javascript %}
  <script>
      da('action','something');
  </script>
{% endblock javascript %}

{% endblock %}
