{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags widget_tweaks %}
{% load socialaccount %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/signup_login.css' %}"/>
<div class="container mt-5">
   <div class="row mt-5">
      <div class="col-md-8 col-lg-8 mx-auto text-center">
         <div class="header-title">
            <h1 style='font-size: 3rem; font-family: "Montserrat", sans-serif; font-weight:500; line-height:3.125rem' class="wv-heading--title white mt-5">
               Check out — it’s free!
            </h1>
            <h2 style='font-size: 1rem; line-height:1.25rem; font-weight:400' class="wv-heading--subtitle white">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fermentum sit etiam neque, placerat pulvinar adipiscing. Mattis nunc posuere facilisis egestas urna nisl diam amet nisl..
            </h2>
         </div>
      </div>
   </div>
   <div class="row mt-4">
      <div class="col-md-3"></div>
      <div class="col-md-5 mx-auto">
         <div class="myform form ">
            {% block signupbackground %}
            <form method="post" novalidate>
               {% csrf_token %}
               {% include 'includes/form.html' %}
               <div class="mb-1">
                  <button type="submit" style='width:100%' id='signup-submit' class="btn btn-primary">Create an account</button>
               </div>
               <a href="{% url 'login' %}"  style='text-decoration:none; display:block; font-size: 0.75rem; line-height: 0.9375rem; font-weight: 400;' class='mt-1 text-center'>{% trans "Already have an account?" %}<strong>{% trans " Sign in" %}</strong></a>
                  <div class="form-group">
                     <a href="{% provider_login_url 'google' %}">
                  <div class="google-btn mt-2" style='width:100%; line-height: 100%;'>
                     <div class="google-icon-wrapper">
                       <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                     </div>
                     <div style='height:40px; line-height: 40px; text-align: center; font-size: 1rem; color: #fff;'>Sign in with google</div>
                   </div>
                  </a>
                  <p class="small mt-3 pad">By signing up, you are indicating that you have read and agree to the <a href="#" class="ps-hero__content__link">Terms of Use</a> and <a href="#">Privacy Policy</a>.
                  </p>
               </div>
            </form>
            {% endblock %}
         </div>
      </div>
      <div class="col-md-3"></div>
   </div>
</div>
{% endblock content %}

{% block footer %}
{% endblock %}