{% extends 'base.html' %}
{% block sidebar %}
<ul class="nav menu">
   <li><a href="{% url 'home' %}"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
   <li class='active'><a href="{% url 'test_products' %}"  class="active"><em class="fa fa-calendar">&nbsp;</em>Test Products</a></li>
   <li><a href="/"><em class="fa fa-bar-chart">&nbsp;</em> Usage</a></li>
   <li><a href="{% url 'quickstart' %}" ><em class="fa fa-toggle-off" >&nbsp;</em> Full Api Reference</a></li>
   <li class="parent ">
      <a data-toggle="collapse" href="#sub-item-1">
      <em class="fa fa-sliders fa-lg">&nbsp;</em> Setting <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
      </a>
      <ul class="children collapse" id="sub-item-1">
         <li><a class="" href="{% url 'edit' %}">
            <span class="fa fa-arrow-right">&nbsp;</span> Profile
            </a>
         </li>
      </ul>
   </li>
   <li><a href="{% url 'logout' %}"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="row">
   <div class="col-lg-12">
      <h1 class="page-heade" style="color: #373737;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 43px;line-height: 52px;margin-bottom:50px;    margin-left: 37px;
         ">Dashboard</h1>
   </div>
</div>
<div class=''>
   <div class="">
      <ul class='ullist'>
         <li class="test_li">
            <a href="{% url 'device_info' %}" style='text-decoration: none;'>
               <span>Device Info</span>
               <svg width="21" height="34" viewBox="0 0 21 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.816406 30.55L3.76641 33.5L20.2664 17L3.76641 0.5L0.816406 3.45L14.3664 17L0.816406 30.55Z" fill="black" fill-opacity="0.2"/>
               </svg>
            </a>
         </li>
         <li class="test_li">
            <a href="{% url 'geodata_info' %}" style='text-decoration: none;'>
               <span>Geodata Info</span>
               <svg width="21" height="34" viewBox="0 0 21 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.816406 30.55L3.76641 33.5L20.2664 17L3.76641 0.5L0.816406 3.45L14.3664 17L0.816406 30.55Z" fill="black" fill-opacity="0.2"/>
               </svg>
            </a>
         </li>
         <li class="test_li">
            <a href="{% url 'comprehensive_info' %}" style='text-decoration: none;'>
               <span>Comprehensive</span> 
               <svg width="21" height="34" viewBox="0 0 21 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.816406 30.55L3.76641 33.5L20.2664 17L3.76641 0.5L0.816406 3.45L14.3664 17L0.816406 30.55Z" fill="black" fill-opacity="0.2"/>
               </svg>
            </a>
         </li>
      </ul>
   </div>
</div>
{% endblock %}