{% extends 'base.html'%}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags widget_tweaks %}
{% load form_tags %}
{% block content %}
<div class="container">
   <div class="col-lg-12">
      <h1 class="page-header">{% trans "Edit Profile" %}</h1>
   </div>
   <div class="row">
      <div class="col-md-5 mx-auto">
         <div class="myform form">
            <form method="post" novalidate>
               {% csrf_token %}
               {% include 'includes/form.html' %}
               <div class="mb-13">
                  <button type="submit" class="btn btn-primary">Save</button>
               </div>
            </form>
         </div>
      </div>
      <div class="col-md-3"></div>
   </div>
</div>
{% endblock %}