{% extends 'accounts/signup.html' %}
{% load static %}

{% block signupbackground %}
<div>
<h1 class="card-title mt-5 mx-auto text-center" style='font-weight:600; font-size:1.4375rem; line-height:1.75rem;'>E-MAIL CONFIRMATION DONE!</h1>
<p class='text-center mt-4 mb-5'><a class='btn btn-success py-2' style="display:block; width:100%;border-radius:5px;line-height:1.375rem; font-size: 1.125rem; background-color:#34A3FB; border-color:#34A3FB" href="{% url 'home' %}">Log in</a></p>
</div>
{% endblock %}


