{% extends 'accounts/signup.html' %}
{% load static %}


{% block signupbackground %}
<div>
<h1 class="card-title  mx-auto text-center" style='font-weight:600; font-size:1.4375rem; line-height:1.75rem; color: #333; margin-top:30px;'>E-MAIL CONFIRMATION SENT!</h1>
<p class="text-center mt-3" style='font-weight:400; font-size: 1rem; line-height: 1.5rem'>An e-mail has been sent to your rescue email address. Follow the directions in the email to confirm your email.</p>
<p class='text-center mt-4 mb-4'><a class='btn btn-success py-2' style="display:block; width:100%; background-color:#27AE60; border-color:#27AE60; border-radius:5px; line-height:1.375rem; font-size: 1.125remrem; padding:6px 30px;" href="{% url 'home' %}">Done</a></p>
</div>
{% endblock %}
