{% extends 'accounts/signup.html' %}
{% load static %}

{% block signupbackground %}
<div>
<h1 class="card-title mt-4 mx-auto text-center" style='font-weight:600; font-size:1.4375rem; line-height:1.75rem; '>ACTIVATION LINK IS INVALID!</h1>
<p class="text-center mt-4" style='font-weight:400; font-size: 1rem; line-height: 1.5rem;'>An email has been sent to your rescue email address, follow the directions in the email toconfirm your email.</p>
<p class='text-center mt-4 mb-5'><a class='btn btn-success py-2' style="display: block; width:100%; font-size:1.125rem; line-height:1.375rem; background-color:#34A3FB; border-radius:5px; border-color:#34A3FB" href="{% url 'home' %}">Log in</a></p>
</div>
{% endblock %}
