{% load static %}
{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>{% block title %}dd_collector{% endblock title %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src='https://api.ddrivn.com/static/tracking.js'></script>
      {% block css %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.css">
      <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'css/datepicker3.css' %}">
      <link rel="stylesheet" href="{% static 'css/styles.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap" rel="stylesheet">
      {% endblock css %}
      {% block head_js %}
      {% endblock %} 
      <!--Custom Font-->
      <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->
      <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
      <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
   </head>
   <style>
   </style>
   <body style='padding-top:0;'>
      {% block header %}
      {% endblock %}
      <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
   <div class='container-fluid' style='background-color: #343a40; min-height: 90px; height: 100%'>
      <div class="row">
         <nav class="navbar navbar-custom col-lg-11 col-md-12 col-sm-12" id='dashboard-header' style='float:none;margin:0 auto;background-color:#343a40; min-height: 90px;  display: flex; align-items: center' role="navigation">
            <div class="container-fluid" style="width: 100%" >
               <div class="navbar-header" style='position:relative'></div>
                  <button type="button" class="navbar-toggle collapsed clickable buttons-collapse" style='padding:10px;' data-toggle="collapse" data-target="#sidebar-collapse" aria-expanded="false">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="glyphicon glyphicon-user" style='color:white; width:25px;'></span></button>
                  <button id='button-menu-collapse'   onclick="showHideMenu()" type="button" class="navbar-toggle collapsed buttons-collapse">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span></button>
                     <a class="navbar-brand col-lg-2 col-md-2 col-sm-4 col-4" href="{% url 'index' %}"><img class='img-responsive' style='max-width: 180px; margin-top:-3px;' src="{% static 'images/datadriven-logo-02-White.png'%}" alt=""></a>
                     <ul class="header-menu nav navbar-nav " id='header-menu' style='float:right;'>
                        <li>
                           <a href="">
                              Home
                           </a>
                        </li>
                        <li>
                           <a href="">
                              Documentation
                           </a>
                        </li>
                        <li>
                           <a href="">
                              Plans & Pricing
                           </a>
                        </li>
                        <li class='dropdown-more'>
                           <div class="dropdown" style='background-color: #343a40' >
                              <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">More
                              <span class="caret"></span></button>
                              <ul class="dropdown-menu" style='background:#333;'>
                                <li><a href="#">Licencing</a></li>
                                <li><a href="#">Contact</a></li>
                              </ul>
                            </div>

                        </li>
                        <li class='dashboard-link'>
                           <a href="">
                              Dashboard
                           </a>
                        </li>
                     </ul>

               </div>
            </nav>
         </div>
   </div>
      <div class="container-fluid">
      <div class="row">
      <div id="sidebar-collapse custom-sidebar dark-color" style='max-width:330px;'  class="col-sm-5 col-md-4 col-lg-3 sidebar sidebar-collapse" aria-expanded="false">
         <div class="profile-sidebar sm text-center" >
            <div class="profile-position">
                  <div class="profile-userpic" style='margin-top:20px;'>
                     {% if request.user.avatar %}
                     <img src="{{MEDIA_URL}}/{{request.user.avatar}}" class="img-circle " alt=""> 
                     {% else %}
                     <img src="http://placehold.it/50/30a5ff/fff" class="img-circle" alt="">
                     {% endif %}
                  </div>
                  <div class="profile-usertitle">
                     <div class="profile-usertitle-name">{% if request.user.name %} {{request.user.name}} {% else %} What is your username ? {% endif %} 
                     </div>
                     <div class="profile-usertitle-status">{% if request.user.is_active %}<span class="indicator label-success"></span>Online{% else %} <span class="indicator label-danger"></span>Offline {% endif %}</div>
                  </div>
            </div>     
            <div class="clear"></div>
       
         </div>
         <div class="divider"></div>
         <ul class="nav menu">
            <li class="nav_menu" >
               <a class="href-source" href="{% url 'home' %}"   style="display: flex; align-items: center;padding-left: 37px;width: 100%;"> <svg style="margin: 0" class="sidebar-logo" width="30" height="23" viewBox="0 0 34 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.02071 22.1666C5.89345 22.167 3.85316 21.3224 2.34869 19.8184C0.844221 18.3145 -0.00120001 16.2745 -0.00158678 14.1473C-0.00197356 12.02 0.842705 9.97973 2.34663 8.47526C3.85055 6.97078 5.89053 6.12536 8.01779 6.12498C8.83904 4.15734 10.2995 2.52392 12.1633 1.48844C14.0271 0.452966 16.1855 0.0758761 18.29 0.418058C20.3945 0.760241 22.3223 1.80172 23.762 3.37434C25.2018 4.94697 26.0695 6.95893 26.2251 9.08539L26.979 9.04164C28.7195 9.04164 30.3887 9.73305 31.6194 10.9638C32.8501 12.1945 33.5415 13.8637 33.5415 15.6041C33.5415 17.3446 32.8501 19.0138 31.6194 20.2445C30.3887 21.4752 28.7195 22.1666 26.979 22.1666H8.02071ZM8.02071 7.58331C6.28022 7.58331 4.61102 8.27472 3.38032 9.50542C2.14961 10.7361 1.4582 12.4053 1.4582 14.1458C1.4582 15.8863 2.14961 17.5555 3.38032 18.7862C4.61102 20.0169 6.28022 20.7083 8.02071 20.7083H26.979C27.7489 20.7077 28.5087 20.5329 29.2015 20.1971C29.8943 19.8613 30.5021 19.373 30.9795 18.769C31.4569 18.165 31.7914 17.4608 31.9581 16.7092C32.1248 15.9575 32.1193 15.1779 31.942 14.4287C31.7647 13.6795 31.4202 12.9801 30.9343 12.3829C30.4484 11.7857 29.8337 11.3061 29.1363 10.9801C28.4388 10.6541 27.6766 10.4901 26.9068 10.5004C26.1369 10.5107 25.3794 10.695 24.6909 11.0396L24.7915 9.77081C24.7938 7.82629 24.0896 5.94715 22.81 4.48302C21.5303 3.0189 19.7624 2.06949 17.8351 1.81146C15.9077 1.55342 13.9523 2.00433 12.3326 3.08028C10.7129 4.15624 9.53917 5.78396 9.02987 7.6606L8.02071 7.58331ZM17.4999 7.58331V15.2396L20.7811 11.9583L21.8749 12.9266L16.7707 18.0308L11.6665 12.9266L12.7603 11.9583L16.0415 15.2396V7.58331H17.4999Z" fill="black"/>
               </svg><span style="padding-left: 32px; font-size: 16px">Dashboard</span></a>
               
            </li>
            <li class="nav_menu">
         
               <a href="{% url 'test_products' %}" class='href-source' style="display: flex; align-items: center;padding-left: 37px;width: 100%;">       <svg width="26" height="31" viewBox="0 0 26 31" fill="none" xmlns="http://www.w3.org/2000/svg" >
                  <path d="M4.75 5.29166H8.39583C8.39583 4.13133 8.85677 3.01854 9.67724 2.19806C10.4977 1.37759 11.6105 0.916656 12.7708 0.916656C13.9312 0.916656 15.044 1.37759 15.8644 2.19806C16.6849 3.01854 17.1458 4.13133 17.1458 5.29166H20.7917C21.952 5.29166 23.0648 5.75259 23.8853 6.57306C24.7057 7.39354 25.1667 8.50633 25.1667 9.66666V25.7083C25.1667 26.8686 24.7057 27.9814 23.8853 28.8019C23.0648 29.6224 21.952 30.0833 20.7917 30.0833H4.75C3.58968 30.0833 2.47688 29.6224 1.65641 28.8019C0.835936 27.9814 0.375 26.8686 0.375 25.7083V9.66666C0.375 8.50633 0.835936 7.39354 1.65641 6.57306C2.47688 5.75259 3.58968 5.29166 4.75 5.29166ZM4.75 6.74999C3.97645 6.74999 3.23459 7.05728 2.6876 7.60426C2.14062 8.15124 1.83333 8.89311 1.83333 9.66666V25.7083C1.83333 26.4819 2.14062 27.2237 2.6876 27.7707C3.23459 28.3177 3.97645 28.625 4.75 28.625H20.7917C21.5652 28.625 22.3071 28.3177 22.8541 27.7707C23.401 27.2237 23.7083 26.4819 23.7083 25.7083V9.66666C23.7083 8.89311 23.401 8.15124 22.8541 7.60426C22.3071 7.05728 21.5652 6.74999 20.7917 6.74999H19.3333V11.125H6.20833V6.74999H4.75ZM7.66667 9.66666H17.875V6.74999H7.66667V9.66666ZM12.7708 2.37499C11.9973 2.37499 11.2554 2.68228 10.7084 3.22926C10.1615 3.77624 9.85417 4.51811 9.85417 5.29166H15.6875C15.6875 4.51811 15.3802 3.77624 14.8332 3.22926C14.2862 2.68228 13.5444 2.37499 12.7708 2.37499ZM4.75 14.0417H20.7917V15.5H4.75V14.0417ZM4.75 18.4167H20.7917V19.875H4.75V18.4167ZM4.75 22.7917H17.875V24.25H4.75V22.7917Z" fill="black"/>
               </svg><span style="padding-left: 32px; font-size: 16px">Test Products</span></a>
            </li>
            <li class="nav_menu"style="display: flex; align-items: center">
         
               <a style="display: flex; align-items: center;padding-left: 37px;width: 100%;" href="/">      <svg width="29" height="26" viewBox="0 0 29 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.916687 25.625V18.3333H6.75002V25.625H0.916687ZM2.37502 19.7917V24.1667H5.29169V19.7917H2.37502ZM8.20835 25.625V12.5H14.0417V25.625H8.20835ZM9.66669 13.9583V24.1667H12.5834V13.9583H9.66669ZM15.5 25.625V6.66668H21.3334V25.625H15.5ZM16.9584 8.12501V24.1667H19.875V8.12501H16.9584ZM22.7917 25.625V0.833344H28.625V25.625H22.7917ZM24.25 2.29168V24.1667H27.1667V2.29168H24.25Z" fill="black"/>
               </svg> <span style="padding-left: 32px; font-size: 16px">Usage</span></a>
            </li>
            <li class="nav_menu">
         
               <a style="display: flex; align-items: center;padding-left: 37px;width: 100%;" href="{% url 'quickstart' %}" >       <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.7709 0.375C18.4452 0.375 21.9691 1.83463 24.5672 4.43279C27.1654 7.03095 28.625 10.5548 28.625 14.2292C28.625 17.9035 27.1654 21.4274 24.5672 24.0255C21.9691 26.6237 18.4452 28.0833 14.7709 28.0833C11.0965 28.0833 7.57264 26.6237 4.97448 24.0255C2.37632 21.4274 0.916687 17.9035 0.916687 14.2292C0.916687 10.5548 2.37632 7.03095 4.97448 4.43279C7.57264 1.83463 11.0965 0.375 14.7709 0.375ZM14.7709 1.83333C11.4833 1.83333 8.33035 3.13932 6.00568 5.46399C3.68101 7.78866 2.37502 10.9416 2.37502 14.2292C2.37502 17.5167 3.68101 20.6697 6.00568 22.9943C8.33035 25.319 11.4833 26.625 14.7709 26.625C18.0584 26.625 21.2114 25.319 23.536 22.9943C25.8607 20.6697 27.1667 17.5167 27.1667 14.2292C27.1667 10.9416 25.8607 7.78866 23.536 5.46399C21.2114 3.13932 18.0584 1.83333 14.7709 1.83333ZM14.0417 7.66667V10.5833H15.5V7.66667H14.0417ZM14.0417 13.5V20.7917H15.5V13.5H14.0417Z" fill="black"/>
               </svg>   <span style="padding-left: 32px; font-size: 16px">Full Api Reference</span></a>
            </li>
            <li class="parent nav_menu" >
               <div style="display: flex; align-items: center">
         
                  <a  data-toggle="collapse" href="#sub-item-1" style="display: flex; align-items: center; padding-left: 37px; position: relative; width: 100%; ">
                                 <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M25.5658 18.5925L22.9204 16.7112C23.3647 15.0776 23.3622 13.3546 22.9131 11.7223L25.5673 9.86437L23.4483 6.19812L20.4966 7.54854C19.3036 6.3469 17.8098 5.48768 16.1712 5.06062L15.8898 1.83333H11.6518L11.3704 5.06062C9.73217 5.48827 8.23885 6.348 7.04643 7.55L4.09331 6.19958L1.97581 9.86583L4.62997 11.7237C4.18069 13.3555 4.17767 15.0779 4.62122 16.7112L1.97581 18.5925L4.09331 22.2412L7.04643 20.8894C8.23902 22.0908 9.73233 22.9501 11.3704 23.3773L11.6518 26.6046H15.8898L16.1712 23.3773C17.8093 22.95 19.3025 22.0908 20.4952 20.8894L23.4483 22.2412L25.5673 18.594L25.5658 18.5925ZM16.6948 0.353119C16.8825 0.352921 17.063 0.425122 17.1989 0.554695C17.3347 0.684268 17.4153 0.861229 17.4239 1.04874L17.6835 4.01645C18.7616 4.42728 19.7673 5.00718 20.6629 5.73437L23.3608 4.47583C23.5274 4.39009 23.7207 4.3718 23.9004 4.42475C24.0802 4.4777 24.2327 4.59783 24.3262 4.7602L27.2502 9.82062C27.3441 9.98283 27.372 10.175 27.328 10.3572C27.284 10.5394 27.1715 10.6977 27.0139 10.7992L24.5727 12.5083C24.7593 13.6721 24.7535 14.8315 24.5741 15.9485L27.0139 17.6548C27.1719 17.7563 27.2847 17.9148 27.3287 18.0974C27.3727 18.2799 27.3446 18.4724 27.2502 18.6348L24.3262 23.6762C24.2327 23.8386 24.0802 23.9587 23.9004 24.0117C23.7207 24.0646 23.5274 24.0464 23.3608 23.9606L20.6629 22.7021C19.785 23.4167 18.7846 24 17.6835 24.4215L17.4239 27.3892C17.4149 27.5764 17.3342 27.753 17.1984 27.8823C17.0626 28.0115 16.8822 28.0835 16.6948 28.0833H10.8468C10.6594 28.0835 10.479 28.0115 10.3432 27.8823C10.2075 27.753 10.1267 27.5764 10.1177 27.3892L9.8581 24.4215C8.78 24.0101 7.77428 23.4297 6.87872 22.7021L4.18081 23.9606C4.0142 24.0469 3.82074 24.0657 3.64066 24.013C3.46058 23.9603 3.30774 23.8402 3.21393 23.6777L0.291432 18.6333C0.197483 18.4711 0.169612 18.279 0.213604 18.0968C0.257596 17.9145 0.370073 17.7563 0.527682 17.6548L2.96747 15.9471C2.78477 14.8076 2.78477 13.6463 2.96747 12.5069L0.52914 10.7992C0.371917 10.6977 0.25971 10.5397 0.215735 10.3578C0.17176 10.176 0.199384 9.98415 0.29289 9.82208L3.21247 4.7602C3.30604 4.59745 3.45877 4.47706 3.63887 4.42409C3.81898 4.37112 4.01257 4.38965 4.17935 4.47583L6.87727 5.73437C7.77288 5.00718 8.77861 4.42728 9.85664 4.01645L10.1162 1.04874C10.1249 0.861229 10.2055 0.684268 10.3413 0.554695C10.4771 0.425122 10.6577 0.352921 10.8454 0.353119H16.6933H16.6948ZM13.7708 9.125C15.1245 9.125 16.4228 9.66276 17.38 10.62C18.3372 11.5772 18.875 12.8755 18.875 14.2292C18.875 15.5829 18.3372 16.8811 17.38 17.8384C16.4228 18.7956 15.1245 19.3333 13.7708 19.3333C12.4171 19.3333 11.1188 18.7956 10.1616 17.8384C9.2044 16.8811 8.66664 15.5829 8.66664 14.2292C8.66664 12.8755 9.2044 11.5772 10.1616 10.62C11.1188 9.66276 12.4171 9.125 13.7708 9.125ZM13.7708 10.5833C12.8039 10.5833 11.8765 10.9674 11.1928 11.6512C10.5091 12.3349 10.125 13.2622 10.125 14.2292C10.125 15.1961 10.5091 16.1234 11.1928 16.8072C11.8765 17.4909 12.8039 17.875 13.7708 17.875C14.7377 17.875 15.6651 17.4909 16.3488 16.8072C17.0325 16.1234 17.4166 15.1961 17.4166 14.2292C17.4166 13.2622 17.0325 12.3349 16.3488 11.6512C15.6651 10.9674 14.7377 10.5833 13.7708 10.5833Z" fill="black"/>
                  </svg>
                     <span style="padding-left: 32px; font-size: 16px">Setting</span> 
                     <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right">
                        <svg style="position: absolute; right: 0; top: 50%; 
                        transform: translate(-24px, -50%)" width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M0.790649 1.79066L8.33332 9.33333L15.876 1.79066L14.9333 0.847992L8.33332 7.44799L1.73332 0.847992L0.790649 1.79066Z" fill="black"/>
                        </svg>
                     </span>
                  </a>
               </div>
               <ul class="children collapse" id="sub-item-1" style="padding-left: 32px">  
                  <li><a class="" href="{% url 'edit' %}" style="display: flex; align-items: center;padding-left: 37px;width: 100%;">
                     <svg width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 7.5175L12.375 1.8925L3.5175 10.75H5.5V20.75H9.25V13.25H15.5V20.75H19.25V10.75H21.2325L19.25 8.7675V4.5H18V7.5175ZM0.5 12L12.375 0.125L16.75 4.5V3.25H20.5V8.25L24.25 12H20.5V21.9975H14.25V14.4975H10.5V21.9975H4.25V12H0.5Z" fill="#333333"/>
                     </svg> 
                     <span style='padding-left:12px; font-size: 16px'>Profile</span>
                     </a>
                  </li>
               </ul>
            </li>
            <li class='parent nav_menu' >
               <a href="{% url 'logout' %}" style="display: flex; align-items: center; padding-left: 37px; position: relative; width: 100%; ">      <svg width="23" height="29" viewBox="0 0 23 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.875 0.375H9.125C7.96468 0.375 6.85188 0.835936 6.03141 1.65641C5.21094 2.47688 4.75 3.58968 4.75 4.75V10.5833H6.20833V4.75C6.20833 3.97645 6.51562 3.23459 7.06261 2.68761C7.60959 2.14062 8.35145 1.83333 9.125 1.83333H17.875C18.6485 1.83333 19.3904 2.14062 19.9374 2.68761C20.4844 3.23459 20.7917 3.97645 20.7917 4.75V23.7083C20.7917 24.4819 20.4844 25.2237 19.9374 25.7707C19.3904 26.3177 18.6485 26.625 17.875 26.625H9.125C8.35145 26.625 7.60959 26.3177 7.06261 25.7707C6.51562 25.2237 6.20833 24.4819 6.20833 23.7083V17.875H4.75V23.7083C4.75 24.8687 5.21094 25.9815 6.03141 26.8019C6.85188 27.6224 7.96468 28.0833 9.125 28.0833H17.875C19.0353 28.0833 20.1481 27.6224 20.9686 26.8019C21.7891 25.9815 22.25 24.8687 22.25 23.7083V4.75C22.25 3.58968 21.7891 2.47688 20.9686 1.65641C20.1481 0.835936 19.0353 0.375 17.875 0.375ZM0.375 13.5H15.3229L10.5833 8.76042L11.5517 7.66667L18.1142 14.2292L11.5517 20.7917L10.5833 19.6979L15.3229 14.9583H0.375V13.5Z" fill="black"/>
               </svg><span style="padding-left: 32px; font-size: 16px">Logout</span> </a>
            </li>
         </ul>
      </div>
      {% block body %}
      <div style='padding:1% 0 0 2%' class="content-rigth-to-sidebar col-lg-9 col-sm-7 col-md-8">

      <div class="col-md-3"></div>
      
         {% block content %}
         {% endblock content %} 
      </div>
      </div>
      </div>
      <script>
         var config = {
            'accountId': '{{account_id}}',
            'sessionId': '{{session_id}}',
            'userId': '{{user_id}}',
         };
      da('config', config);
      </script>
      {% endblock body %}
      <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script> 
      <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
      crossorigin="anonymous"></script>
      {% block javascript %}{% endblock %}
      <script>
         
         (function() {
            const nav_pathname = [
               {path: "/dashboard", index: 0},
               {path: "/test-products", index: 1},
               {path: "/edit/", index: 4},
            ]
            let list = Array.from(document.getElementsByClassName("nav_menu"))
            nav_pathname.map((el, id) => {
                  el.path === window.location.pathname &&list[el.index].classList.add("active")
               })
         })()

         function showHideMenu(){
            var menu = $('#header-menu');
            if(menu.css('display') == 'flex'){
               menu.css('display', 'none')
            } 
            else if(menu.css('display') == 'none'){
               menu.css('display', 'flex');
               menu.css('justify-content', 'start');
               menu.css('flex-wrap', 'wrap');
            }
         }
      </script>
   </body>
</html>