{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
        <meta charset="utf-8">
        <title>DataDriven</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap" rel="stylesheet">
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src='{% static "js/landing-page.js" %}'></script>
        <link rel="stylesheet" href="{% static 'css/landing-page.css' %}">
    </head>
    <body> 
        <header class='bg-dark navbar-dark px-0' style='min-height:78px;'>
            <nav class="mx-auto col-lg-10 col-md-12 col-sm-12 navbar navbar-expand-lg bg-dark navbar-dark header-menu" style='min-height:78px;'>
                <a class="navbar-brand col-lg-2 col-md-2 col-sm-4 col-4" href="{% url 'index' %}"><img class='img-fluid' style='margin-top:-11px;max-width: 180px;' src="{% static 'images/datadriven-logo-02-White.png'%}" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="nav nav-pills ml-auto" id='header-collapse'>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'quickstart' %}">Documentations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'plans_pricing' %}">Plans & Pricing</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
                            <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'licencing' %}">Licencing</a>
                            <a class="dropdown-item" href="{% url 'contact' %}">Contact</a>
                        </li>
                        <li class="nav-item px-2 py-0 ml-3" style='border: 1px solid #fff;'>
                            <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        {% block content %}
            <div class='cloud-image'>
            </div>
            <div class='container cont-fl pt-5'>
                <div class="row">
                    <div class="col-sm-1 col-md-0"></div>
                    <section class='data-collection col-sm-11 col-md-12'>
                        <h1 class='title mt-5' style='font-weight:500'>DATA COLLECTION AND ENRICHMENT</h1>
                        <p class='provide mt-2' style='font-weight: 500; font-size:20px; line-height: 29px;'>We provide the right tools for any digital business</p>
                        <div class='col-lg-8 px-0'>
                            <p style='line-height: 1.375rem;font-size: 0.95rem;' class='text mt-4'>At Data Driven OÜ, we’re passionate about building new innovative products that will disrupt the industry. Since 2000, we’ve provided a high quality service to all of our clients and as we grow, our commitment to your needs remains the key driving force behind our Technology Company. Our team of professionals is here to inspire you with their unique ideas and abilities - get in touch today to learn more.</p>
                        </div>
                    </section>
                </div>
                <section class='row give-us-try d-flex justify-content-start flex-wrap'>
                    <div class='text col-lg-5 col-11'>
                        <h1>GIVE US A TRY</h1>
                        <p class='mt-4'><span style='font-weight: 500;'>Login</span> to our dashboard to test our products</p>
                        <ul class='mt-4'>
                            <li>Device info</li>
                            <li>Geodata</li>
                            <li>Comprehensive</li>
                        </ul>
                        <div class='mt-5 ml-4'>
                            <a href="{% url 'login' %}"><button >Log in</button></a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-11 images mb-5">
                        <img class='img img-fluid' src="{% static 'images/image4.png' %}" alt="" style="mix-blend-mode: lighten;">
                    </div>
                </section>
            </div>
        {% endblock %}
        {% block footer %}
            <div class='container-fluid cont-fl mt-5 pt-5' style='z-index:99999; background-color: #373d43 !important'>
                <div class="row get-in-touch">
                    <div class='col-lg-12' style= 'padding:0;'>
                        <section class='text'>
                            <h1 class='text-center'>CONTACTS</h1>
                            <p class='text-center mt-5'>Telliskivi 60a/5, 10412 Tallinn, Estonia</p>
                            <p class='text-center mt-1'>info@datadriven.ee</p>
                            <p class='text-center mt-1 mb-5'>+372 53736395</p>
                        </section>
                    </div>
                </div>  
            </div>
        <div class="row pt-4 m-0" style='background-color:#343a40;z-index:99999;'>
            <div class="mx-auto">
                <div class='footer'>
                    <h4 class='text-center'>Subscription form</h4>
                    <div id='subscribing-form-div'>
                        <form id='subscribing_form' action="{% url 'subscribing' %}" method='POST'>
                            {% csrf_token %}
                            <div class='d-flex justify-content-center flex-wrap'>
                                <input class='form-item-sub mt-3' style='display:block' type="email" name='email' placeholder="Enter your e-mail" required>
                                <button class='ml-3 mt-3' style='display:block' type='submit'>Subscribe</button>
                            </div>
                        </form>
                        <p class="text-center email-error mt-1" style='display:none;'>E-Mail is already subscribed!</p>
                    </div>
                    <p class='mt-4 text-center' style='font-family: "Montserrat", sans-serif;'>©2019 Data Driven</p>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>

{% block javascript %}
    <script>
        $(function(){
            var subscribing = function(e) {
                e.preventDefault();
                var form = $(this);
                $.ajax({
                    url:form.attr('action'),
                    type: form.attr("method"),  
                    data: form.serialize(),
                    dataType: 'json',
                    success: function(data){
                        if(data['exists']){
                            $('.email-error').css('display', 'block');
                            $('#subscribing_form input[name=email]').css('border', '1px solid red');
                        }else{
                            $('#subscribing-form-div').html('<p class="text-center" style="font-size:2.5rem">✓</p>');
                        }
                    }
                })
            }
            $('#subscribing_form').on('submit', subscribing);
    })
    </script>
{% endblock %}