{% extends 'index.html' %}
{% load static %}

{% block content %}
<style>
    body{
        background-color: #222;;
    }
</style>
<div class="cloud-image"></div>
<div class="container-fluid cont-fl licence pt-5">
        <h1 class='text-center mt-5' style='font-size: 3rem; font-weight:500; line-height: 3.6875rem; font-family: "Montserrat", sans-serif;'>LICENSE</h1>
        <p class='text-center mt-4' style='font-size: 1.5rem; font-weight: 500; line-height: 1.8125rem;'>We provide the right tools for any digital business</p>
        <div class="row">
            <div class='mx-auto col-lg-5 mt-3'>
                <p class='text-center' style='font-size: 1.125rem; line-height: 1.75rem;'>Have a kick-ass IT team? Our software is built with Python, fully documented, dockerized and can easily be deployed in-house with full visibility of source code. Get in touch for more details!</p>
            </div>
        </div>
        <div class='text-center mt-5'><a href="{% url 'contact' %}"><button class='mb-5'>Contact us</button></a></div>
</div>


{% endblock %}