{% extends 'index.html' %}
{% load static %}
{% block content %}
{% load split_plan_nickname %}

<div class="cloud-image"></div>
<div class="container-fluid plans-pricing p-0">
    <h1 class='mt-5 text-center'>Choose a Tarrif Plan</h1>
    <div class="row d-flex justify-content-around mt-5 flex-wrap" style='margin-left:0; margin-right:0;'>
        {% for plan in plans %}
            <div class="plan mt-4">
                <h2 class='mt-5 text-center'>{{plan.nickname|split_plan_nickname}}</h2>
                <div class='d-flex price justify-content-center'>
                    <div>
                        <div>
                            <br>
                            <h5>{{plan.price.amount|floatformat}}<span style='font-size: 2.875rem'>€</span></h5>
                        </div>
                    </div>
                </div>
                <div class='under-price'>
                    <p class='text-center'>per month <span style='color:#5c9b7b'>(7 days free)</span></p>
                </div>
                <div class='button-start mt-5'>
                    <a style='text-decoration: none; color:#fff;' href="{% url 'home' %}"><button style='padding:9px 7px;border-radius:5px;background-color:#27AE60; font-size:1.125rem' class='btn btn-block'>Start Free Trial</button></a>
                </div>
                <div class='plan-info text-center mt-4'>
                    {% for item in plan.plan_items.all %}
                        <p >{{item.value}}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

</div>

{% endblock %}