@font-face{
    font-family: 'GothaProLig';
    src: '../fonts/GothaProLig.otf'
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');


@font-face{
    font-family: 'GothaProMed';
    src: '../fonts/GothaProMed.otf'
}



.google-btn {
    width: 184px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}
.google-btn .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
}
.google-btn .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}
.google-btn .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}
.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
  }
.google-btn:active {
    background: #1669F2;
  }

@import url(https://fonts.googleapis.com/css?family=Roboto:500);

body{
    background-color: #343a40 !important;
    font-family: 'Montserrat', sans-serif;
}
.header-menu{
    background-color: #343a40 !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color:transparent !important;
}
html, body{
    margin:0;
    padding:0;
}
.header-menu ul li{
    padding: 0px 2px;

}
.header-menu li a{
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size:0.875em;
}

.dropdown-item{
    color: #333 !important;
}


.give-us-try .images{
    
}

.cloud-image{
    background: url('../images/cloud.webp') no-repeat fixed;
    height: 50vh;
    background-size: 100vw 90vh;
}

.cont-fl{
    background-color: #343a40 !important;
    color: #fff;
}

.cont-fl button {
    color: #fff;
    background-color: #346586;
    border: 1px solid #346586;
    border-radius:5px;
    width:15rem;
    height:2.8125rem;
    font-weight:500;
    font-size:1.25rem;
    line-height:1.5rem;
} 

#login-submit, #signup-submit{
    background-color: #30A5FF;
}
#login-submit, #signup-submit, #signin-with-google{
    color: #fff;
    border: none;
    border-radius:5px;
    padding: 10px 5px;
    width: 100%;
    font-weight:500;
    font-size:1rem;
    line-height:1.5rem;
    text-decoration: none;
}

#signin-with-google{
    background-color: #E94335;
}
#signup-submit{
    width:12rem;
}

.data-collection .title{
    line-height: 1.25em;
}

.data-collection .provide{
    line-height:1.67em;
}


.data-collection .text{
    line-height: 1.87em;
}

.data-collection .contact-us a{
    line-height:1.67em;
    text-decoration: none;
    color: #fff;
}

.give-us-try{
    margin-top: 5%;
}

.give-us-try .text button{
    color: #fff;
    background-color: #346586;
    border: 1px solid #346586;
    border-radius:5px;
    width:240px;
    height:45px;
    font-weight:500;
    line-height:24px;
}

.give-us-try .text{
    font-family:'Montserrat', sans-serif;
    margin-top: 5em;

}

.give-us-try .text h1{
}

.give-us-try .text p{
    line-height: 1.75em;
}

.give-us-try .text ul{
    font-size: 0.9rem;
    line-height:1.75em;
}

.give-us-try .text a{
    text-decoration: none;
    color: #fff;
}


.get-in-touch .text h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}


.get-in-touch .text p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.footer{
    color: #fff;
}

.footer p{
    line-height: 1.875em;
}

.plans-pricing h1{
    font-weight:500;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.plans-pricing .plan{
    position: relative;
    border: 1px solid rgba(52,52,52,0.5);
    background-color: #3D444B;
    margin: 0 10px;
    width: 350px;
}

.plans-pricing .plan > h2{
    color: #fff;
    font-size: 1.56rem;
    text-transform: uppercase;
}

.plans-pricing {
    color: #fff;
}

.plans-pricing .plan .price{
    display: block;
}

.plans-pricing .plan .price h5{
    font-size: 6rem;
}

.plans-pricing .plan .button-start{
    padding: 0 4em;
}

.under-price p{
    font-size: 0.9em;
    margin-top:-10px;
}

.under-price p:nth-child(2){
    color: #9a9a9a
}

.plans-pricing .plan button{
    line-height: 1 !important;
    padding: 15px 0px;
    border-radius: 0;
    background-color: rgba(170,188,191,1);
    color: #fff
}

.plans-pricing .plan-info{
    border-top: 0.5px solid rgba(52,52,52,0.5);
}

.plans-pricing .plan-info p{
    font-size: 1.25rem;
    line-height: 1.5rem
}

.plans-pricing .best-price{
    position: absolute;
    background-color: rgba(78,78,78,1);
    color: rgba(255,255,255,1);
    color: #fff;
    font-size: 16px;
    height: 30px;
    top: -16px;
    left: 50%;
    transform: translatex(-50%);
    padding: 0 10px;
    line-height: 30px;
}

.licence{
    background-color: #222;
}

.licence a{
    text-decoration: none;
    color: #fff
}

.licence img{
    display: block;
    margin: 4em auto;
}

.contact .row{
    background-color: #343a40!important;
    color: #fff;
}

.contact form{
    box-sizing: content-box;
}
.contact .form-item{
    background-color: #343a40!important;
    border: 1px solid #343a40;
    border-bottom: 1px solid #fff;
    padding: 5px 5px 5px 10px;
    margin: 10px 5px 8px 10px;;
    color: #fff;
    display:block;
    width: 50%
}

.contact .form-item:hover{
    border: 1px solid #fff;
}

.contact .form-item[name=subject], .contact .form-item[name=message]{
    width:calc(100% - 15px)
}

.contact .form-item::placeholder{
    color: #fff;
}

.contact button{
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
}

.contact .get-in-touch{
    width:370px;
}

.contact .contact-form{
    width:370px;
    background-color: #343A40;
    box-shadow: 2px 8px 24px rgba(0, 0, 0, 0.19);
}

.google-maps{
    width: 100%;
    height:50vh;
}

.message-submit{
}

#subscribing_form input{
    color:#343A40;
    background-color: #F9F9F9;
    font-family: 'Monsterat', sans-serif;
    max-width:320px;
    border-radius:5px;
    border:1px solid #F9F9F9;
    padding: 5px 20px;
}

#subscribing_form button, .contact-form button{
    color: #fff;
    background-color: #346586;
    border: 1px solid #346586;
    border-radius:5px;
    width:165px;
    height:40px;
    font-weight:500;
    line-height:24px;
}


.footer .form-control::placeholder{
    color: #343A40;
    font-family: 'Montserrat', sans-serif;
}

.map {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
}

#doc-sidebar{
    background-color: #ebebeb !important;
}

#doc-sidebar, .doc-text{
    background-color: #fff;
}

#doc-sidebar img{
    width:22px;
    height:22px;
}

#doc-sidebar a{
    padding:2px 10px;
    display:block;
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

#doc-sidebar > a{
    font-size: 1em;
}

#doc-sidebar h4{
    font-family: 'Montserrat', sans-serif;
    font-size:1.3em;
    font-weight:500;
}

#doc-sidebar a:hover{
    background-color: #d1d1d1;
    border-radius:3px;
}

#doc-sidebar ul{
    padding-left: 0;
    list-style-type: none;
}

#doc-sidebar span{
    color: black;
    font-weight:400;
    font-size: 1em;
    text-transform: none;
}


.doc-text p{
    font-size: 1.05em;
}

.doc-sidebar-picked{
    background-color: #d1d1d1;
    border-radius:3px;
}

.doc-text .code{
    background-color: #333;
}

.doc-text .code pre{
    background-color: #333;
    color: #fafafa;
    padding:5px;
}

.doc-text .code pre span{
    float: left;
    margin: -10px 2px 5px 2px;
}

.doc-row{
    min-height: calc(100vh - 70px);
}

.contact-form label{
    font-size: 1rem;
    line-height:1.25rem; 
    font-family:"Montserrat", sans-serif;
    display: block;
}

.contact-form input, .contact-form textarea,.contact-form select{
    background-color: #343A40;
    border-radius: border-box;
    border-radius: 5px;
    border: 1px solid #fff;
    padding:8px 10px;
    display:block;
    color:#fff;
    font-size: 1rem;
    width:100%;
    box-shadow:2px 8px 24px rgba(0, 0, 0, 0.19)
}

.contact-form select{
    padding:8px 2px;
}
.contact-form textarea::placeholder{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size: 1rem
}

.contact-form .form-group div{
    width:90%;
}

.plans-pricing .plan-info p:nth-child(1){
    margin-top:20px;
}

.plans-pricing .plan-info p:nth-last-child(1){
    margin-bottom:40px;
}


.doc-row{
    background-color: #ebebeb
}

.sticky{
    position:sticky;
    top:0;
    left:0;
    z-index: 999;
    height:100%;
}


