body {
    background-image : url('/static/images/image9.png');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height:100vh
}

#login-container{
    opacity:1;
}

html{
    mix-blend-mode: lighten;

    background-color: #343a40;
}

#dashboard-header{
    display:none;
}

.send-button{
    background: #54C7C3;
    width:100%;
    font-weight: 600;
    color:#fff;
    padding: 8px 25px;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    }
    .g-button{
    color: #fff !important;
    border: 1px solid #EA4335;
    background: #ea4335 !important;
    width:100%;
    font-weight: 600;
    color:#fff;
    padding: 8px 25px;
    }
    .white {
        color: #ffffff;
    }
    h1{
    font-size: 31px;
    font-weight: 600;
    color:#4c5357;
    }
    h2{
    color: #5e8396;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    }
    .login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left:5px;
    padding-right:5px;
    }
    .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
    }
    .hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    }
    @media screen and (max-width:480px){
    h1{
    font-size: 26px;
    }
    h2{
    font-size: 20px;
    }
    }
    .myform {
        padding: 15px 25px;
        background:rgba(255,255,255,0.9);
        border-radius:7px;
    }
    .pad {
        margin:11px;
    }
    .red {
        color:red;
    }
.sidebar {
    display:none;
}


